[2017-06-05 16:41] hunterloftis commented on #416
Sure, in some cases the relative slowness of this approach will only lead to 10s increases, but as build times increase the delta in the approaches increases as well:

- cold cache: 32.62s
- `node_modules`: 2.34s (93% faster than cold)
- cache dir: 12.32s (526% slower than `node_modules`)

So if you have a build that, for example, completes in 3 minutes with `node_modules`, it will take about 16 m

[2017-06-05 20:34] passcod commented on #416
Note I don't particularly mind if node_modules    are cached by default,
just that a) .npm is also (correctly) cached by default and b) node_modules
caching can be disabled without also disabling .npm caches.

The tradeoffs I'm looking at is not "3 minutes vs 16 minutes", it's "builds
always work consistently vs sometimes builds fail with only manual
recourse".

On Tue, 6 Jun 2017, 04:41 Hunter Lo

[2017-06-05 20:47] jmorrell commented on #416
Unfortunately we do have to take these trade-offs into account. I suspect we can improve on what we already have though.

I'm afraid we can't cache both by default either :( as that would push many large customers over the slug compilation limit.

@hunterloftis Any thoughts about providing an easy way to opt-in to caching the cache directories instead? Maybe modifying `NODE_MODULES_CACHE` to also

[2017-06-05 20:50] jmorrell commented on #421
We already do this: https://github.com/heroku/heroku-buildpack-nodejs/blob/master/lib/failure.sh#L116

[2017-06-05 20:50] #421 closed

[2017-06-05 23:19] jmorrell opened #422 "Automatically use npm 5 if there is a package-lock.json file"
If the user has not specified a version for npm, but there is a `package-lock.json` we should automatically install npm 5

[2017-06-05 23:20] jmorrell commented on #422
The opposite is also true. Try to warn the user if they have a `package-lock.json` but specify `npm < 5` since it will be ignored

[2017-06-08 00:52] jmorrell opened #423 "Log out the yarn version if specified"
[code]

We should be logging out yarn at the top instead of, or in addition to, npm

[2017-06-08 01:30] jmorrell opened #424 "Should use yarn start instead of npm start if using yarn"
Without a procfile we default to `npm start` to kick off the app, but if the user is using yarn this should be `yarn start`.

I'm not aware of any differences in how they behave, but there could be subtle issues over time.

[2017-06-09 03:48] openjck opened #425 "Build process fails when package-lock.json is added on an existing application"
I always try to provide straightforward steps to reproduce in the issues I file, but this one is a little more tricky. I'm unable to reproduce this locally or on a new Heroku application; at the moment it only affects a staging application I contribute to.

The Node build process fails on our application when the *package-lock.json* file is present. When the file is removed, the build process succ

[2017-06-09 17:35] jmorrell commented on #425
Would you mind opening up a ticket on help.heroku.com and asking them to escalate it to the Node team? I'll have more context on your application and maybe we can make a repro.

[2017-06-09 18:28] openjck commented on #425
Sure thing. I went ahead and opened ticket 484965. I'll let you decide whether you want to keep this GitHub issue open or not.

[2017-06-13 05:36] #423 closed

[2017-06-13 06:01] jmorrell opened #428 "Warn the user if they have a package-lock.json but specify npm < 5"

[2017-06-13 17:49] jmorrell opened #430 "Check for shrinkwrap + package-lock.json + yarn.lock overlap"
If more than one lockfile is included in a repo we should error out. This is currently the behavior with yarn + npm 5, but we should include shrinkwrap as well.

[2017-06-13 17:49] #422 closed

[2017-06-13 18:02] jmorrell opened #431 "Consider installing devDependencies by default"
Pro: Many users getting started with Heroku try to run a build step with `webpack`, `gulp`, etc only to find that it's in their `devDependencies` and not installed by default on Heroku. They then have to figure out how to tell Heroku to install these. Defaulting to installing everything makes for a smoother onboarding.

Con: Longer install times and larger slugs for existing large apps

First step

[2017-06-13 18:18] edmorley commented on #431
For users that don't commit build assets to their source directory (the better approach IMO), I see the building assets step as a production dependency, not a development dependency - which makes putting them in `devDependencies` a bug. After all, in development users will often not perform a full build at all and instead use a dev-server to dynamically serve assets.

An alternative to ease onboar

[2017-06-13 18:52] jmorrell commented on #431
@edmorley I don't necessarily disagree, but there is a big difference between what users *should* do, and what the actually do in practice. Checking in built assets has its own issues, and goes against established community best practices. We should meet people where they are when we can.

If a warning doesn't already exists I'm definitely for adding that, but I'd prefer for things to "just work"

[2017-06-13 18:55] edmorley commented on #431
Reading back I can see it was ambiguous -- by "the better approach" I meant I prefer **not** committing assets. I don't for one minute think suggesting people change their workflow in that regard is practical :-)

[2017-06-13 19:00] jmorrell commented on #431
Oh, I see now. I don't think forcing people to put things under `dependencies` is the right solution if it hits a large % of users. I suspect it does, which is why I want to gather metrics.

The larger story is that frontend build errors are a huge % of the number of support tickets that we receive for Node, and anything we can do to make that process easier is a high priority for me.

[2017-06-15 18:53] Cryptophobia commented on #431
The right solution would be to not have to rely on the user to move to devDependencies to `dependencies` and to follow their current nodejs workflow. But installing `devDependencies` and `dependencies` together is also not the right approach because of testing frameworks / tools and other things that should not be installed as dependencies in production - `nodemon` and `forever`.

Why not just sea

[2017-06-15 20:13] akayvanfar commented on #418
yarnpkg.com down right now :(

[2017-06-15 20:19] hchasey commented on #418
👍

[2017-06-15 21:39] jmorrell commented on #418
It looks like yarnpkg.com was down for ~20 minutes.

Replacing this with an S3 mirror is my highest priority at the moment.

[2017-06-15 22:29] jmorrell commented on #431
@jasonkarns There are a couple of issues that I see there:

- It doesn't fit with the Heroku deploy model `git push heroku master`. It's not a good idea for us to say "deploy this way unless you're using Node, then use this other thing"
- apps that use Node + another platform
- native dependencies

but mainly we have 10's of thousands of existing apps using the current deploy process.

[2017-06-15 23:16] Daniel15 commented on #418
Yeah, sorry about the outage, it looks like this was some CloudFlare misconfiguration.

@jmorrell - Is it not possible to use a caching reverse proxy rather than a separate mirror?

[2017-06-15 23:40] jasonkarns commented on #431
I don't understand why this wouldn't work. My intention is that all of the above would happen in the build pack and not have any impact on users (migration path may be necessary for some configurations, i'm unsure).

[2017-06-15 23:52] jasonkarns commented on #431
A better explanation:

after `git push heroku master`:

the buildpack does the git checkout of master, runs npm install _with devDeps_ (so app authors don't need to move devDeps to be prod deps). Then the buildpack runs npm-pack, generating the app tarball (with with all the compiled/built assets as per the `prepare` npm script). The app is now fully contained and ready to execute, less node_modul

[2017-06-16 16:34] jmorrell commented on #425
Closing due to lack of ability to reproduce the error

[2017-06-16 16:34] #425 closed

[2017-06-18 19:39] croraf opened #435 "Heroku custom cacheing is not working"
I have toplevel package.json where I set cacheDirectories as per https://devcenter.heroku.com/articles/nodejs-support#custom-caching
[code]
So no dependencies in toplevel, but I have frontend/package.json and mockserver/package.json with a lot of dependencies that get installed in their respective node_modules. This is how the respective package.jsons look like (for example mockserver):
[code]

Th

[2017-06-18 20:20] jmorrell commented on #435
How are you invoking `npm install` in the subdirectories? If you do it as part of the `heroku-postbuild` hook then they should get cached:

[code]

If you aren't invoking `npm install` (or `yarn install`) in the subdirectories then their dependencies will never be downloaded, and so `node_modules` in those directories won't exist.

[2017-06-18 22:42] croraf commented on #435
Top level package.json runs:
`npm --prefix mockserver start`
meaning it runs the "start" script from `mockserver/package.json`.
That script is:
`"npm install && npm run build && node dist/server.js"`
So node_modules gets installed. Indeed my application works fine.
Hopefully it gets installed in mockserver/node_modules.
But it is not cached for the next build.

[2017-06-19 00:33] jmorrell commented on #435
Yes, but if it does that using the `start` script instead of the `heroku-postbuild` script, then it will be after the cache is calculated. By the time the server is started the cache is already set.

[2017-06-19 17:13] croraf commented on #435
Thank you very much! I used `heroku-postbuild` script in top level `package.json` to install dependencies from subprojects and they get cached as expected.

In fact, I think I could use any of `heroku-prebuild preinstall postinstall heroku-postbuild`, as they are all run in the "building dependencies" stage, after "restoring cache" stage and before "caching" stage.

[2017-06-19 17:16] #435 closed

[2017-06-23 01:18] nickmccurdy commented on #431
From the [`package.json` docs](https://docs.npmjs.com/files/package.json):

For this reason, I disagree with [the devDependencies section of Heroku Node.js Support](https://devcenter.heroku.com/articles/nodejs-support#devdependencies). To follow npm's recommendations and avoid confusion, I think it would be better to either set `NPM_CONFIG_PRODUCTION=true` by default or build the source with `devD

[2017-06-26 13:08] narwajea commented on #60
How do you expose it ?

[2017-06-29 19:26] jmorrell opened #439 "Move yarn and npm5 cache directories"
Yarn and npm5 both have cache directories that get defaulted to the `$HOME` directory on linux. `~/.npm` for npm5 and `~/.cache/yarn` for yarn.

This creates an issue for Heroku since `$HOME=/app` which is the same directory where your application is run. So far this hasn't been a problem because apps are built in a temporary directory, but this will be changing to `/app` as well in the future. If

[2017-06-29 19:42] jmorrell commented on #439
For anyone running into the CI issue before I can get this change in, you can fix your tests by adding the following config to your `package.json`:

[code]

[2017-07-06 14:37] casibbald opened #441 "Requirement to create heroku-buildpacks-cf-nodejs"
With Google cloud functions using NodeJS as the language/framework base it has become necessary for "heroku-buildpacks-nodejs" to recognise when there is a serveless.yml file present in the root directory.

heroku-buildpacks-nodejs will now need to detect serveless.yml file and skip if found so as to allow heroku-buildpacks-cf-nodejs to run.

heroku-buildpacks-cf-nodejs ... to be submitted as a se

[2017-07-10 14:24] clayne11 opened #443 "Call different postbuild / prebuild scripts during CI"
When running CI test, `heroku-postbuild` and `heroku-prebuild` are being called. When I build my app for deployment, however, the build is significantly different than building for tests.

We should call different build scripts for CI vs regular builds.

For example during CI we can call `heroku-test-postbuild` and `heroku-test-prebuild` and during regular builds we can can `heroku-postbuild` and

[2017-07-10 18:21] jmorrell commented on #441
Hi there 👋

I doubt this is something we will support.

Why would this be the case? Wouldn't you also need a `package.json` to declare any dependencies for your script? Even if you were only using the Node stdlib, there's no harm in creating an empty `package.json` with just a name, which is all Heroku requires if you also have a `Procfile`.

[code]

Feel free to fork and modify the buildpack any

[2017-07-10 18:21] #441 closed

[2017-07-10 20:37] jmorrell commented on #443
I'd prefer not the expand the surface area if we can avoid it. They're a bit confusing and, there's no taking them away once applications start depending on them, so they have to be carefully considered.

We (as well as other CI providers: Travis, CircleCI, etc) inject the environment variable `CI=true` to allow you to slightly modify your build scripts for CI workflows if needed. https://devcente

[2017-07-10 20:38] #443 closed

[2017-07-12 19:57] #418 closed

[2017-07-14 10:53] Jan0707 commented on #385
@jmike I tried your approach and it sadly does not work for me.
Here is my package.json

[code]

It fails though when trying to run gulp:

[code]

Any idea on what I am doing wrong here would be highly appreciated :)

[2017-07-15 10:50] edmorley opened #445 "Cache not cleared after changing stacks"
I just switched an app from cedar-14 to heroku-16 and the first build thereafter reused the existing `node_modules` directory:
[code]

This seems risky for packages that contain compiled code.

As such, I think it would be good to include `$STACK` in the cache signature here:
https://github.com/heroku/heroku-buildpack-nodejs/blob/da19bdb738fb1ee3ea183ba0a7dd4695843ee383/lib/cache.sh#L3-L5

[2017-07-15 18:54] jmorrell commented on #445
It absolutely should be. I'll update next week. 👍

[2017-07-18 20:21] #445 closed

[2017-07-18 21:08] #428 closed

[2017-07-18 22:31] #430 closed

[2017-07-21 00:06] #424 closed

[2017-07-21 00:06] #407 closed

[2017-07-21 00:07] #324 closed

[2017-07-21 11:08] peteruithoven commented on #174
The following article with the matching buildpacks seem relevant:
http://zeke.sikelianos.com/npm-and-github-automation-with-heroku/

[2017-07-23 02:49] WilliamNHarvey commented on #425
this is still an existing error

[2017-07-24 17:39] jmorrell commented on #425
@WilliamNHarvey I'm afraid that unless this is reproducible it's not really actionable, and there's little help I can give you...

- update npm to `5.3.0`
- regenerate `package-lock.json`
- try switching stacks to [Heroku-16](https://devcenter.heroku.com/articles/heroku-16-stack#upgrading-an-app-to-heroku-16) or [Cedar-14](https://devcenter.heroku.com/articles/cedar-14-stack#upgrading-the-producti

[2017-07-24 21:16] jmorrell opened #455 "Warn on unsupported Node versions"
~10% of new deploys still use unsupported versions of Node (not 4, 6, 7, 8). We can't force these users to upgrade, but adding a warning to the build might encourage them to look into it.

[2017-07-27 21:24] #420 closed

[2017-07-27 22:54] #455 closed

[2017-08-02 16:02] jmorrell opened #461 "Warn on old postgres clients"
@tcrayford mentioned that the postgres support team gets a number of tickets caused by people using old versions of postgres clients.

If we know this is an issue we should detect and warn the user and save them some frustration and time.

[2017-08-03 15:54] fenduru commented on #431
The way I see `dependencies` vs `devDependencies` is the difference between _runtime_ dependencies and _build time_ dependencies. For instance, if you are working on an NPM package and you list a transpiler in `dependencies` then every consumer of that package will pull in the transpiler even though their is no need. I do not think there is a fundamental difference between typical NPM pacakges and

[2017-08-03 16:29] nickmccurdy commented on #431
I agree, as long as you can treat libraries only used on the client side as build time dependencies because a bundler is inlining them for you.

[2017-08-03 16:41] jmorrell commented on #431
If this is quick even for large dependency trees then it sounds like a great solution 👍

[2017-08-03 17:15] nickmccurdy commented on #431
That sounds good, the `--production` flag could just be toggled in an env variable or something like that.

[2017-08-03 17:18] bbatha commented on #431
Instead of doing the whole install, pack, reinstall workflow. Maybe it should just run `npm prune --production`?

[2017-08-03 17:35] jasonkarns commented on #431
@bbatha at what point? without a non-production install, what would be getting pruned?

how would the app get built? (ie, the babel compilation, etc) this is done automatically by npm-pack via the `prepare` hook that npm invokes.

[2017-08-03 17:42] nickmccurdy commented on #431
Also, I could be wrong but I think `--production` sets `NODE_ENV` to `production`, not doing this (including using prune) could break production builds or enable dangerous development features in production.

[2017-08-03 18:00] jasonkarns commented on #431
@nickmccurdy

Nope. Neither `npm install` nor `npm prune` mutate your environment.

[2017-08-03 18:04] jasonkarns commented on #431
Well, I should clarify. It sets `NODE_ENV=production` _during the install_. But that doesn't affect runtime.

An example package with a postinstall script: `echo node_env: $NODE_ENV`

[code]

[2017-08-03 18:05] fenduru commented on #431
This is just an alternative to using `npm pack` and then having to run `npm install` a second time (why install things that were already installed moments ago?). This would install everything (including `devDependencies`) first, then run the build script, then prune out the no longer necessary `devDependencies`.

[2017-08-03 18:13] nickmccurdy commented on #431
@jasonkarns I agree that it doesn't affect runtime *directly*, but if a build tool behaves differently in production (webpack often does depending on its configuration), the code and dependencies may be different at runtime in ways that affect performance, security, stability, etc.

[2017-08-03 18:17] jasonkarns commented on #431
running npm install twice doesn't actually install anything twice. It builds the virtual dep tree in memory and then ensures that the filesystem matches it. Running npm-prune is functionally equivalent.

So `npm i; npm pack; npm prune --production` would be the same as running `npm i; npm pack; npm i --production`. (I personally have less confidence in prune working as intended due to npm's histor

[2017-08-03 18:20] bbatha commented on #431
Sorry if that's  unclear. What I meant is that install, pack and then prune can be just install then prune. There's no need for the pack step unless your going to upload the built package somewhere else to npm or from CI system as a built slug.

[2017-08-03 18:20] nickmccurdy commented on #431
To clarify, those two sets of commands are only the same if your build tools executed in `npm install` behave the same in production.

[2017-08-03 18:26] jasonkarns commented on #431
@bbatha heroku would need to run the compilation step, regardless. having heroku specify some custom-to-heroku npm script as the build step is inferior to using the conventional (and established norm) of using `prepare`. And since heroku needs to make a slug _anyway_ of the compiled assets, running npm-pack does the compilation *and* zipping in one go. Further, npm-pack would respect the package's

[2017-08-03 18:32] nickmccurdy commented on #431
That's cool, I didn't know `npm pack` ran `prepare`. 👍 for this.

I was implying that `npm install` runs hook scripts like `prepare`, not that the internal install command calls special scripts directly. `npm install` under the latest version of npm triggers `prepare` automatically. Sorry if that was unclear.

[2017-08-03 18:42] jasonkarns commented on #431
@nickmccurdy Ah! Okay! Now I get you. 👍 thanks for being patient while I caught up :)

So yeah, in that case, I suppose the `--production` flag could impact the build tools! I'm not certain how I feel about build tools knowing/caring about `NODE_ENV`. Though if they _do_ alter behavior, `production` is what we'd want. So the compilation triggered by the first npm-install is probably undesirable. I

[2017-08-03 18:53] fenduru commented on #431
@jasonkarns it is not uncommon for build tools to alter behavior based on `NODE_ENV`, [as seen here](https://webpack.js.org/guides/production/#node-environment-variable)

[2017-08-03 18:54] bbatha commented on #431
Most of the logic here is sound for running pack. 👍 for reusing existing specification mechanisms. However, I don't really see how `pack` fits in the buildpack. If you're in a run of the buildpack, running `pack` would necessitate wiping the local directory, unzipping the zip and then running npm install. Then rezipping the whole thing. This seems to duplicate quiet a lot of work for little gain.

[2017-08-03 18:58] jasonkarns commented on #431
Yeah, my original suggestion would have resulted in two tarballs that the buildpack would need to handle: the npm-packed tarball, and the node_modules directory itself. Not as clean as just having a single tarball, but I was thinking that two would be easily managed.

Re: multi-buildpacks. I wasn't even thinking about those. Good call.

[2017-08-03 19:15] nickmccurdy commented on #431
That's unfortunate, should we avoid pack then or is there a way to get it to work with multiple buildpacks?

[2017-08-04 18:59] atomkirk commented on #385
It appears that if you run the buildpack from within a subdirectory, the commands it's suppose to install are not available after release. My buildpack runs the heroku/php buildpack in a sub directory, but when I `heroku run bash`, `which php` returns nothing. Same goes if I cd into the directory.

[2017-08-04 19:04] jmorrell commented on #385
@atomkirk The buildpacks install their dependencies globally, and I'm not sure what you mean by running the "php buildpack in a sub directory". Could you open a support ticket at https://help.heroku.com/ so we can sort out what's going wrong?

[2017-08-04 19:18] atomkirk commented on #385
So it looks like they don't install them globally. When I deploy a root directory php app with heroku/php buildpack, then `heroku run bash`, and `which php`, its found in `/app/.heroku/php/bin/php` and `echo $PATH` is `/app/.heroku/php/bin:/app/.heroku/php/sbin:/app/.heroku/php/bin:/app/.heroku/php/sbin:/app/.heroku/php/bin:/app/.heroku/php/sbin:/app/.heroku/php/bin:/usr/local/bin:/usr/bin:/bin:/a

[2017-08-04 19:49] jmorrell commented on #385
@atomkirk Sounds like you're trying to do something that's not supported cc @dzuelke

[2017-08-05 06:53] jmike commented on #385
@Jan0707 have you tried running gulp on `postinstall` from within the internal package.json file, i.e. `app/Resources/package.json` in your case?

Another idea might be to install gulp with root package.json and update your configuration as such:

[code]

Please note that you don't really need to provide the qualified file path for gulp - npm knows what to do.

[2017-08-07 19:28] dzuelke commented on #385
Why a subdirectory, @atomkirk? Or, at least, why does the PHP runtime have to be in a subdirectory, and not just your application? A lot of moving parts are set up to look at `$HOME/.heroku/…` for buildpacks, and that includes how PHP is built and where it looks for its config files, where binaries look for other `.so`s, and so forth. It's not something that's easily changed, and so far I don't un

[2017-08-07 19:56] atomkirk commented on #385
Well, thanks for the response, but @jmorrell is right, I'm trying to do something unsupported. I kind of took us off topic. Sounds like if you want to support the original issue, the buildpack will probably have to run in the subdirectory and then PATH point at where it put the .heroku folder (or if the buildpack puts the .heroku folder in the repo root, then change nothing)

[2017-08-08 13:32] joaoreynolds commented on #425
For what it's worth, there is an issue on `npm` addressing this: https://github.com/npm/npm/issues/16839

Seems until the bug is fixed, the best thing is to either user `yarn` or remove `package-lock` from your project

[2017-08-08 18:33] jmorrell opened #464 "Add descriptive warning for invalid JSON in package.json"
Of the builds that fail to deploy on Heroku, between 5-10% of them fail because `package.json` is not valid JSON.

This error currently looks like this:

[code]

We can do much better than this.

[2017-08-11 16:24] henrikhaugboelle commented on #414
Hi @jmorrell, it seems that I'm running into this error. Are there any news on it? :-)

[2017-08-17 08:35] holm opened #465 "No way to get production dependencies without NODE_ENV=production"
In our staging environment we would like to use NODE_ENV=staging, but still only get production dependencies installed. That does not seem possible with the buildpack.

We use https://www.npmjs.com/package/config to manage configuration, which is based on NODE_ENV. This needs to be set correctly during install, as we use `heroku-postbuild` package script to compile bundles, and this depends on the

[2017-08-17 16:11] jmorrell commented on #465
Hi! If you set `NPM_CONFIG_PRODUCTION=true` you should still only install production dependencies, even with `NODE_ENV=staging`

[code]

[2017-08-17 16:45] holm commented on #465
Yes but as I wrote in the description this changes the NODE_ENV, which has effects on the post build script, since the env will now always be production.

I find it a bit strange that the way to get not get dev dependencies is to overwrite the NODE_ENV, instead of just using the --production flag.

[2017-08-23 21:01] jmorrell opened #466 "Build cache not consistent with globs"
Copied from a support ticket:

Our node app contains the following lines in the package.json:

[code]

As you can see, we use a glob to specify which folder need to be cached.
At the end of the build process we see what we expect:

[code]

But when the build starts, and the cached directory are loaded, where is what we see:

[code]

We would expect that the same strategy is applied when restoring

[2017-09-06 08:59] hakunin opened #468 "EROFS: read-only file system, access '/usr/local/bin'"
Nothing in the app config changed and I am no longer able to deploy it this morning.

Tried making a new PR and the problem persists.

[code]

[2017-09-06 09:25] zharikovpro commented on #468
We have the same issue. And [here's another guy](https://twitter.com/jan_joris/status/905342457285668865).

[2017-09-06 09:27] idabmat commented on #468
Same issue. I also noticed previous deploys used yarn 0.28.4, new ones are using 1.0.0 and resulting in the error above

[2017-09-06 09:28] idabmat commented on #468
Same issue. Noticed previous deploys were using yarn 0.28.4. New ones are using yarn 1.0.0 and causing the issue above

[2017-09-06 09:35] edmorley commented on #468
There's yarnpkg/yarn#4320 filed for this on Yarn's side, which points to the regression being caused by yarnpkg/yarn#3721. They've also opened yarnpkg/yarn#4322 to fix.

In the meantime an older version of yarn can be specified in the `engines.yarn` key, similar to the guide here for npm:
https://devcenter.heroku.com/articles/nodejs-support#specifying-an-npm-version

I wonder whether the nodejs bu

[2017-09-06 09:44] edmorley commented on #468
Or at least only use the stable release rather then release candidates. The Yarn homepage currently says:

[2017-09-06 09:50] hakunin commented on #468
@edmorley thanks for the solution!
For copy-pasters, add this to your package.json:
[code]

[2017-09-06 12:04] PaulieScanlon commented on #350
Hi, bit late to the party but.... if anyone else experiences problems with Heroku and node-sass the solution that worked for me was to add a .slugignore file to the root of my project, add /yarn.lock to the .slugignore file and add "postinstall": "npm rebuild node-sass" to scripts in package.json.

[2017-09-06 13:01] ericnograles commented on #468
Just parroting here, but also experienced this issue and thanks for the snippet @hakunin 👍

Definitely lock down your versions of everything using `engines`!

[2017-09-06 13:58] hunterloftis opened #470 "Tests should run against Cedar-14 and Heroku-16"
Currently tests run against Cedar-10 (deprecated) and Cedar-14.
The Dockerfile & Makefile should probably use Cedar-14 and Heroku-16 instead.

[2017-09-06 14:01] hunterloftis commented on #468
Would someone running into this issue mind testing against the patch branch?

[code]

[2017-09-06 14:10] edmorley commented on #468
Using that branch fixed the issue for us, with the compile log showing yarn 0.28.4 being used as intended:

[code]

[2017-09-06 14:12] hunterloftis commented on #468
Thanks @edmorley!

[2017-09-06 14:14] ericnograles commented on #468
@hunterloftis all good here too, thanks for the prompt fix!

![image](https://user-images.githubusercontent.com/6023705/30116687-395f35ec-92ec-11e7-86ad-274a14c2df43.png)

[2017-09-06 14:28] hunterloftis commented on #468
Resolved by #469 (released ~30s ago). Please let us know if you still run into this issue.

Manual testing & version bumping hasn't been a popular choice in node (since the versions change so quickly), but I agree we should try to lock to something other than "latest." Is a scrape of the yarn homepage the best data source, or does someone know of a good way to get metadata like "latest stable vers

[2017-09-06 14:28] #468 closed

[2017-09-06 14:41] dzuelke commented on #470
They already do :) https://github.com/heroku/heroku-buildpack-nodejs/blob/6d2a9b4719e51e96007c6861f594fd522dfe29af/makefile

[2017-09-06 14:41] hunterloftis commented on #470
Scratch that, tests are updated, readme is just out of date (https://github.com/heroku/heroku-buildpack-nodejs#tests)

[2017-09-06 14:42] edmorley commented on #468
I was hoping it would be possible to just refer to what the website uses, however it's static and is updated by a bot whose data source is unknown:
https://github.com/yarnpkg/website/commit/c23f92e2f03446a48be214d817d31296a235d2df

Though the yarn maintainers might have a better suggestion, but one option would be to use the [GitHub releases](https://github.com/yarnpkg/yarn/releases) metadata, sin

[2017-09-06 14:48] edmorley commented on #468
Sorry for the double post - but a reminder for anyone who switched to the `manual-yarn-version` buildpack branch above to test the fix... Now that it's merged, switch back the the stable release (or master) to avoid later breakage due to the PR branch being deleted. To do this, use:
`heroku buildpacks:set heroku/nodejs`

[2017-09-06 15:05] hunterloftis commented on #468
👍  for `heroku buildpacks:set heroku/nodejs`

The nodebin service will be responsible for resolution, so rate limiting shouldn't be an issue. What do you think @jmorrell?

[2017-09-07 18:37] dtran320 opened #472 "Build failing because of missing yarn version `1.0.1` in nodebin"
[`Yarn` just released `v1.0.1`](https://github.com/yarnpkg/yarn/releases/tag/v1.0.1) today, which includes a bugfix for Heroku.

Tried to version-bump `yarn` in my project's `package.json` to `1.0.1`, but it failed:

[code]

Looks like this buildpack installs versions from nodebin.herokai.com:
https://github.com/heroku/heroku-buildpack-nodejs/blob/6d2a9b4719e51e96007c6861f594fd522dfe29af/lib/binar

[2017-09-07 19:35] dtran320 commented on #472
This was fixed in https://twitter.com/JeremyMorrell/status/905874915341078528

[2017-09-07 19:35] #472 closed

[2017-09-07 19:48] jmorrell commented on #472
Thanks for bringing this to my attention! In theory this should be updating every 10 minutes, but it looks like it might be only updating on dyno restart (~once a day). I'll look into what went on here.

[2017-09-08 05:06] Daniel15 commented on #468
Hey @edmorley and @hunterloftis, you can use https://yarnpkg.com/latest-version to get the version number. This uses the exact same data source as the website, and is what the Yarn installation script uses along with all the other automation relating to Yarn releases (eg. the Chocolatey and Homebrew packages are updated as soon as this number is bumped).

[2017-09-08 05:07] Daniel15 commented on #468
Hey @edmorley and @hunterloftis, you can use https://yarnpkg.com/latest-version to get the version number. This uses the exact same data source as the website, and is what the Yarn installation script uses along with all the other automation relating to Yarn releases (eg. the Chocolatey and Homebrew packages are updated as soon as this number is bumped).

https://yarnpkg.com/latest.tar.gz will als

[2017-09-08 10:22] edmorley commented on #468
I checked this file at the time, but I'm pretty sure it was giving me the release candidate (1.0.0) rather than what the website was reporting was the latest stable (0.27.5).

[2017-09-08 15:22] Daniel15 commented on #468
latest.tar.gz should always provide the stable version, not the RC. Unless
someone accidentally bumped the RC to stable :)

Sent from my phone.

On Sep 8, 2017 3:22 AM, "Ed Morley" <notifications@github.com> wrote:

[2017-09-08 18:54] #470 closed

[2017-09-13 17:14] aleclarson commented on #346
I think there's plenty of convenience in caching the binary locally, especially for poor internet speed and working on a limited cellular data plan. Another use case is faster iteration when using the buildpack with vagrant. As for setting up a local network cache, I would argue baking the caching layer into the buildpack is much easier for people looking for a quick fix without the unnecessary le

[2017-09-13 21:46] jmorrell commented on #346
@aleclarson This isn't really a priority for Heroku customers since we download the binary on the dyno and not locally. However if you make a branch that works well I would consider merging it.

The feature makes sense, but comes with additional complexity that will need to be handled by support and will have ongoing costs to Heroku.

This is where I would start looking: https://github.com/heroku/

[2017-09-14 03:24] aleclarson commented on #346
@jmorrell There aren't any Heroku customers that test locally with `vagrant` and something like Dokku?

[2017-09-15 17:33] jmorrell opened #476 "Turn off the `node_modules` cache by default for CI runs"
CI runs should not be re-using the same cache

[2017-09-19 07:52] rofrol commented on #412
Maybe set `env` and change `scripts`:

`"heroku-postbuild": "HEROKU_POSTBUILD && ./mybuild.sh"`

[2017-09-24 20:05] evantahler opened #477 "Use an ENV variable to set NPM version"
The newest version of NPM causes install errors (https://github.com/npm/npm/issues/18520).  If we could set the NPM version via process.env, or even a directive in package.json, that would be helpful.

[2017-09-24 21:22] ccurtisj commented on #477
@evantahler I was hitting the same issue on heroku and used `package.json` to specify npm version 5.3.x in the meantime.

https://devcenter.heroku.com/articles/nodejs-support#specifying-an-npm-version

[2017-09-24 23:08] jmorrell commented on #477
Closing since this feature already exists, documented at the link above.

[2017-09-24 23:08] #477 closed

[2017-09-25 00:16] evantahler commented on #477
Great, thanks!

[2017-10-13 09:15] stof opened #478 "Default yarn version is outdated (and is an unstable release)"
The Yarn version used by default is 0.28.4. This version is outdated (latest release is 1.2.1) and was not even considered a stable release by the Yarn team (the last pre-1.0 stable release was 0.27.5).

It would be great if the uptodate version of Yarn could be used by default.

[2017-10-16 18:11] jmorrell opened #479 "Support "build" npm script"
While we offer support for running build scripts using [`heroku-prebuild` and `heroku-postbuild`](https://devcenter.heroku.com/articles/nodejs-support#customizing-the-build-process) hooks, the community has coalesced around using `build` for build scripts. Many boilerplates don't work out of the box on Heroku due to not running `build` by default.

This change is likely to break existing applicati

[2017-10-16 18:13] jmorrell commented on #478
Thanks for the reminder! I fixed the version of Yarn when `1.0.0` broke on Heroku, but it should be updated.

[2017-10-17 19:37] #383 closed

[2017-10-19 21:42] jmorrell opened #481 "Warn on Node versions with known security vulnerabilities"
Context: https://groups.google.com/forum/#!topic/nodejs-sec/FG8glRVxS7Q
Context: https://groups.google.com/forum/#!topic/nodejs-sec/cmhZtHMfnko

While it's up to the developer to make sure they are running a version of Node without known security vulnerabilities, we can help them understand that they are making that decision by adding a warning with a link to a FAQ in the build.

[2017-10-20 18:26] #476 closed

[2017-10-20 19:11] #478 closed

[2017-10-25 15:47] jmorrell opened #484 "Detect when memory limit value is unreasonable"
Context: https://github.com/heroku/heroku-buildpack-nodejs/pull/474#issuecomment-339328746

We should have a sanity check on this value and default to something reasonable if it's not providing good information. Servers don't tend to have 9223372036GB of RAM.

[2017-10-25 20:00] jmorrell opened #485 "Remove yarn warning"
Yarn is 1.0 now. Remove the warning about it being young software.

[2017-10-26 17:34] #485 closed

[2017-10-26 17:34] #484 closed

[2017-10-26 17:54] jmorrell opened #490 "Store node version in the cache on successful build"
Store last successful Node version in the cache and print good error message if the build fails.

Often people don't specify Node versions and deploy infrequently. This leads to things like jumping from Node 0.10 -> Node 6 which can break things in difficult-to-track-down ways.

If we store Node version used on successful builds and notice that there is a discrepancy, we should be able to print ou

[2017-10-31 18:52] jmorrell opened #491 "Update to 8.x as the default Node version"
`8.9.0` is the new LTS release, so we should update here: https://github.com/heroku/heroku-buildpack-nodejs/blob/master/lib/binaries.sh#L30

I'm holding off on doing this currently due to a code freeze. Users can expect this change around November 10th. I'm mainly creating this issue as something I can reference.

As always, you can [specify a version of Node](https://devcenter.heroku.com/articles

[2017-10-31 21:20] jmorrell opened #492 "Warn on unsafe Node version ranges on success"
Node 9 was just released, and ~5% of deploys are now using that version. While a few users might have opted-in to it, most are likely using `>=` version requirements. Most likely cloned a boilerplate and are unaware that they have that requirement.

Currently we give them a warning if their build fails:

<img width="977" alt="hyper 2017-10-31 14-10-27" src="https://user-images.githubusercontent.co

[2017-11-01 16:11] #492 closed

[2017-11-03 11:00] stof commented on #478
@jmorrell do you know when this change will be released ? AFAICT, the deployment done a few hours ago was still using 0.28.4 as default version, so it might be using the latest release rather than the latest master.

[2017-11-03 16:46] jmorrell commented on #478
@stof We're currently under a code-freeze until next Friday. So next Friday :)

[2017-11-03 17:09] jmorrell opened #493 "Don't default to npm 5.x if the user already has npm 5.x"
In this code: https://github.com/heroku/heroku-buildpack-nodejs/blob/master/lib/binaries.sh#L73

If using Node 8 or 9, then npm 5 will already be installed. Don't update to the latest version of npm in this case.

[2017-11-06 08:59] gkatsanos commented on #385
This feature is what I was looking for. I have a client  and a server which have two independent package files, and I want them to be sibling directories and not nested. Therefore I need a way to instruct heroku to start from a specific package file which is not located at the root of my repository.

[2017-11-06 22:17] IIvanov8888 commented on #385
Hi,
I seem to face the same issue when running under sub directory =>

```"postinstall": "npm install --prefix server && npm install --prefix ./server/client",```

The entire project is inside server folder , including the client ... any help

[2017-11-06 23:17] jmorrell commented on #385
@IIvanov8888 could you open a support ticket at help.heroku.com?

[2017-11-07 15:07] wmaciejak commented on #385
@gablg1 for me your solution doesn't work.

After valid deploy I see in console `app[client.1]: bash: npm: command not found`. The same situation with `node`

[2017-11-08 13:50] wmaciejak commented on #385
@gablg1 for me your solution doesn't work.

After valid deploy I see in console app[client.1]: bash: npm: command not found. The same situation with node.
Even If I change $PATH variable, the issue still occurs.

[2017-11-11 18:31] ClayShentrup commented on #385
I have a similar issue. I want to run an Ember Fastboot app without having to make a separate repo  for my API backend (which is Rails in my case). Ideally I'd be able to specify multiple web processes for a single app. Since I can't do that, I have to make two separate apps for the frontend and backend. But I don't want to create multiple repos for this. I just want to be able to tell one app to

[2017-11-12 20:10] andykant opened #494 "Yarn cache not cleaned up after recent fixes"
I've started tracking `master` until there's another release as suggested, but I noticed an additional issue with the #439/#459 fixes: If Heroku had the previous `.cache` directory cached, those files will continue to exist and throw errors until manually cleaned up. Aside from that, I can verify that #459 fixed my issues.

I worked around this by temporarily pushing `rimraf .cache` as part of my

[2017-11-13 18:13] jmorrell commented on #494
Hi @andykant! I've released the buildpack changes, so you should be able to point back to the canonical buildpack.

I was trying to puzzle out how this might have worked. Are you saying that you specifically added the cached directory in your `package.json`? [We don't cache these directories by default](https://github.com/heroku/heroku-buildpack-nodejs/blob/master/bin/compile#L12). If not, I'm not

[2017-11-13 20:55] #491 closed

[2017-11-15 20:36] jmorrell opened #498 "Add workflow for private github dependencies"
Using private github repos as dependencies is a common pattern, but people are often tripped up with the auth flow. It seems a lot of people end up here: https://stackoverflow.com/questions/10869796/npm-private-git-module-on-heroku/13353408#13353408 but the top answer involves putting access tokens into your git history, which we should not encourage.

Instead, we should build https://github.com/t

[2017-11-15 23:21] #493 closed

[2017-11-16 16:17] benhjames commented on #439
I ran into a similar issue today when setting up Heroku CI with jest:

[code]

This warning was repeated a few hundred times, once for each duplicate package!

Adding `<rootDir>[/\\\\](\\.cache|node_modules)[/\\\\]` to my `testPathIgnorePatterns` as mentioned above fixed the issue.

I suppose I was slightly confused that the Yarn cache directory wasn't a tmp dir as this issue suggests! Has this fi

[2017-11-16 16:57] jmorrell commented on #439
@benhjames The cache directory should be in a temp directory by default now with the main buildpack release. You might be pinned to an old version maybe?

You might be hitting https://github.com/heroku/heroku-buildpack-nodejs/issues/494 though I'm still confused how `.cache` might be getting cached.

If you open a support ticket at help.heroku.com I can dig in and figure out what's going on :)

[2017-11-16 17:20] benhjames commented on #439
Thanks @jmorrell, I've opened a support ticket. :)

AFAIK I've not specified the buildpack version anywhere, so I'm guessing it should be pulling the latest release.

[2017-11-17 06:47] andykant commented on #494
This was specifically occurring in Heroku CI (if that happens to cache things a bit differently). I don't have reproduction steps though and I've been able to fix it in my Heroku CI, so I'll close the issue.

Thanks for your time and for the prior fix!

[2017-11-17 06:47] #494 closed

[2017-11-17 20:43] jmorrell opened #501 "Warn on use of "npm prestart" without a Procfile"
One antipattern is to run frontend builds at runtime when the dyno is starting up. This is one case that we can detect and warn on if it's common.

[2017-12-04 20:59] jmorrell commented on #439
Re-opening this after looking into @benhjames issues some more

[2017-12-06 21:56] mlaythe opened #502 "Invalid semver requirement"
Trying to build Nodejs in an Elixir environment. Keep getting this error `Error: Invalid semantic version "6.11.1"` when I try to deploy to Heroku. I'm worried semver isn't available for some reason. I set my node and npm version in my `package.json` file, but to no avail. Any help is greatly appreciated!

[2017-12-06 22:57] #502 closed

[2017-12-11 19:28] migueloller opened #504 "Running tests incorrectly sets `NODE_ENV` to `production`"
Moving over from gliderlabs/herokuish#309.

When running the Node.js buildpack `process.env.NODE_ENV` is set to `production` when it should be set to `test`.

Repro:

[code]

Interestingly, the execution logs indicate otherwise...

[code]

[2017-12-12 01:20] jmorrell commented on #504
This is probably a duplicate of #414, which I've not yet addressed. I'll take a look tomorrow.

[2017-12-12 01:24] migueloller commented on #504
@jmorrell, that workaround definitely works! Just wanted to report the issue 😄

[2017-12-12 01:26] jmorrell commented on #504
This issue had slipped my mind, so I appreciate the reminder 👍

[2018-01-07 11:34] damorton opened #508 "npm ERR! 404 Not Found: pinkie@https://registry.npmjs.org/pinkie/-/pinkie-2.0.5.tgz"
Unsure if this belongs here but I'm getting a `npm ERR! 404 Not Found: pinkie@https://registry.npmjs.org/pinkie/-/pinkie-2.0.5.tgz` error during a Heroku NodeJS build, its looking for v2.0.5 of pinkie when v2.0.4 is the latest.

[2018-01-07 11:41] #508 closed

[2018-01-19 16:42] RavenHursT commented on #356
@hunterloftis this still seems to be happening.  I've set:

[code]

And when I try to build and deploy a "review" environement I still get `./node_modules/.bin/babel: not found`. Which tells me that my `devDependencies` are _still_ not getting installed before `npm run build` (which is running babel for transpilation) runs.

How can we accomplish this other than just dumping all `devDependencies`

[2018-01-19 16:48] RavenHursT commented on #356
ok.. odd.. on the same "review" environment config, I have the "parent app" set to my staging environment config.  I assumed that would mean that it would "inherit" it's config vairables from that app where I have the following set:

[code]

But if I go into the app (after it's failed to build) and view "settings" and "reveal config vars", the _only_ value set there is `NODE_ENV=development`

All

[2018-01-19 17:17] jmorrell commented on #356
@RavenHursT You can define env variables for review apps in `app.json`: https://devcenter.heroku.com/articles/github-integration-review-apps#inheriting-config-vars

If you're having difficulty please open a ticket at https://help.heroku.com/, and we'll get it sorted :)

[2018-01-19 17:33] RavenHursT commented on #356
Thanks for responding @jmorrell... I just got it working by doing, just that.  I think the problem was the UI in Heroku, when enabling review apps says to "inherit config vars from:"... and you choose the env in your pipeline you want that to happen with.  There's nothing there, informing the user that the `app.json` for the given app must have those var names referenced in order for that to take

[2018-01-20 18:42] vlasenko commented on #439
@jmorrell As I understand packager cache dirs created in /tmp folder now, by this code:
https://github.com/heroku/heroku-buildpack-nodejs/blob/6c52af1e50393cd8ccf9e2150a94b47bcc96e953/bin/compile#L24-L25
If they were cached, this would have increased build speed. Why these dirs are not cached?

[2018-01-20 19:36] jmorrell commented on #439
@vlasenko The short answer is that I haven't yet had the time to investigate and measure the trade-offs vs caching `node_modules`.

In the mean time, if you want to configure your app to cache these, you can set `NPM_CONFIG_CACHE` or `YARN_CONFIG_CACHE` yourself, and then add that directory to your list of `cacheDirectories` in `package.json`: https://devcenter.heroku.com/articles/nodejs-support#c

[2018-01-21 08:36] vlasenko commented on #439
@jmorrell Thank you for sharing your concerns. I have created `yarn cache verify` feature request for Yarn:
https://github.com/yarnpkg/yarn/issues/5261

A couple more points:
1. While caching node_modules might help for `npm` now, but for Yarn it only harms, yarn will download dependency if it cannot find it in the cache on `yarn install`, no matter present it in `node_modules` or not. So caching

[2018-01-22 17:20] vlasenko commented on #439
@jmorrell Another point to consider about caching is that starting build in unique folder each time, i.e. `/tmp/build_b6c9d5b5d2a5e1e3415c6015213e9467` is not good for Node-tools-friendly caching. For example `babel-loader` in `Webpack` calculates its hashes based on Webpack request object, which happen to contain absolute path to files. And because the build folder is different each time, `babel-

[2018-02-01 18:33] tikotzky opened #512 "the buildpack installs yarn prereleases by default"
currently it installs a prerelease version of yarn if you do not specify an exact yarn version.

It seems like it pulls the yarn version from https://nodebin.herokai.com/v1/yarn/linux-x64/latest.txt

That url is currently returning version 1.4.0 even though 1.4.0 is still a prerelease as seen here https://github.com/yarnpkg/yarn/releases/tag/v1.4.0

[2018-02-01 18:51] jmorrell commented on #512
Hmmm... We're pulling down versions using the npm registry API. Ex: `npm info yarn versions`.

I'll see if we can take prerelease info into account there. Thank you for filing an issue!

[2018-02-01 19:32] tikotzky commented on #512
thanks.
If you run `npm dist-tag ls yarn` (or `yarn tag list yarn`) it'll show that 1.4.0 is published as an `rc` and `latest` is 1.3.4

so
`npm i yarn --> 1.3.4`
`npm i yarn@rc --> 1.4.0`

[2018-02-01 20:03] jmorrell commented on #439
Closing since this issue is fixed, but I will be looking into the points raised by @vlasenko

[2018-02-01 20:03] #439 closed

[2018-02-02 16:22] #414 closed

[2018-02-02 16:22] #504 closed

[2018-02-06 05:11] ricardo-0x07 opened #516 "Not detecting engines.node version in package.json when running "git push heroku master""
package.json:

{
  "name": "sortyfied-demo",
  "version": "1.0.0",
  "description": "",
  "main": "gulpfile.js",
  "engines": {
    "node": ">=6.11.5"
  },
  "directories": {
    "test": "tests"
  },
  "devDependencies": {
    "@types/express": "^4.0.34",
    "@types/node": "^6.0.52",
    "angular-mocks": "^1.5.7",
    "assert": "^1.4.1",
    "babel-eslint": "^7.0.0",
    "babel-polyfill": "^6.9.1

[2018-02-06 09:11] JakeChampion commented on #516
It looks to be working correctly. Your engines.node version is a range which states that anything greater than or equal to 6.11.5 can be used, which is why it is installing 8.9.4.

[2018-02-06 16:30] ricardo-0x07 commented on #516
It said node version unspecified... it still failed to deploy anyway.
Originally i had {"node": "6.11.5"} in the package.json and had the same error results/trace

[2018-02-06 16:38] ricardo-0x07 commented on #516
Think the node version 8.9.4 is the issue in Updated package .json and tried again.
updated package.json:
{
  "name": "sortyfied-demo",
  "version": "1.0.0",
  "description": "",
  "main": "gulpfile.js",
  "engines": {
    "node": "6.11.5"
  },
  "directories": {
    "test": "tests"
  },
  "devDependencies": {
    "@types/express": "^4.0.34",
    "@types/node": "^6.0.52",
    "angular-mocks": "^1.

[2018-02-06 16:58] jmorrell commented on #516
Hey @ricardo-0x07, can you open a support ticket at help.heroku.com? Your build failure is from a dependency and probably unrelated to the version of Node

[2018-02-06 16:58] #516 closed

[2018-02-09 12:19] Ajaxy commented on #431
Is there any suggestion as a result of this topic?
I'd love to:
1) Install dev deps
2) Run my build script with `npm run build`
3) Save built app without dev deps

[2018-02-09 15:18] jasonkarns commented on #431
@Ajaxy (quick random tidbit: `prepare` script is run automatically as part of install, so it's generally recommended to have prepare be your "build" script. or at least to have `"prepare": "npm run build"`)

[2018-02-09 17:15] jmorrell commented on #431
@Ajaxy I'm afraid other work has taken priority, but I'll be working on a PR next week that will make that the default

In the mean time you could run `npm prune --production` as part of your `heroku-postbuild` script

[2018-02-09 18:20] Ajaxy commented on #431
Thanks, so I ended up with:

[code]

[2018-02-09 18:28] Ajaxy commented on #431
Also, it seems that if I add `src` folder to `.slugignore` then I'm not able to build, so I had to change the last one for: `"heroku-postbuild": "npm prune --production && rm -rf ./src"`

[2018-02-09 18:39] jmorrell commented on #431
@Ajaxy I would recommend doing everything in `heroku-postbuild`:

[code]

In the next few months I'm going to try to implement a solution to https://github.com/heroku/heroku-buildpack-nodejs/issues/479 which will run `build` by default unless `heroku-postbuild` is defined

[2018-02-09 19:12] jasonkarns commented on #479
I strongly  disagree with this statement: > the community has coalesced around using build for build scripts

npm itself specifies that `prepare` is the script to be run for building a node package. This is the script that is run when packing, when publishing, and when installing (both for git-deps and when cloning directly).

I think it would be a great step backwards and contrary to node tooling

[2018-02-09 19:13] jasonkarns commented on #479
More specifically, a properly specified node package, when following npm's guidance will _automatically_ build the node package during install. So heroku should have to do nothing for building to take place.

[2018-02-09 19:34] Ajaxy commented on #431
It hasn't worked for me.

remote:        Installing node modules (yarn.lock)
remote:        yarn install v1.4.0
remote:        [1/4] Resolving packages...
remote:        success Already up-to-date.
remote:        Done in 1.08s.
remote:        Running heroku-postbuild (yarn)
remote:        yarn run v1.4.0
remote:        $ npm run build && npm prune --production && rm -rf src
...
Error: Cannot find

[2018-02-09 20:08] Ajaxy commented on #431
Well, it seems the last one was some unrelated issue. Now it's gone.

Also, for those using `yarn`: according to this topic https://github.com/yarnpkg/yarn/issues/696 you need to use
[code]
instead of
[code]

[2018-02-15 07:06] tomasdev commented on #221
:(

would have loved to have a configurable path via Procfile

[2018-02-15 20:24] jmorrell opened #518 "Deprecate versions of Yarn that don't support `--frozen-lockfile`"
Yarn versions lower than 0.19 will crash if passed `--frozen-lockfile`, but usage of these versions has dropped to near-zero.

<img width="559" alt="lang node js librato 2018-02-15 12-22-50" src="https://user-images.githubusercontent.com/175496/36279158-015a6b10-124b-11e8-8403-85e96ef88878.png">

We should update to capture the failure, and guide the user to update to a newer version.

[2018-02-16 07:07] josegonzalez commented on #498
Potentially a duplicate of #174?

[2018-02-16 07:12] josegonzalez opened #521 "Add `base_url` to nodebin response and allow override via BUILDPACK_VENDOR_URL"
This would allow users to customize where they get their node binaries - such as from a local cache.

I've made a similar pull request for python [here](https://github.com/heroku/heroku-buildpack-python/pull/643) and it is also available for ruby [here](https://github.com/heroku/heroku-buildpack-ruby/pull/238).

[2018-02-20 18:11] #518 closed

[2018-02-20 19:51] lirbank commented on #431
@jmorrell I just noticed that setting `heroku-postbuild` to `yarn build && yarn --production` or `yarn build && yarn --production && rm -fR ./src` won't work if you're using Heroku CI. The tests will fail since the dev deps are not there (where you'd typically have your test runners etc).

Figured I'd mention it for consideration when you work on #519

[2018-02-20 21:48] jmorrell commented on #431
@lirbank I think in that case you can check the value of the `$CI` environment variable and add a condition. Something like this:

[code]

In #519 I'll be sure to do the reasonable thing in [`test-compile`](https://github.com/heroku/heroku-buildpack-nodejs/blob/master/bin/test-compile). I've added a new bullet point for that. Thanks for calling this out 👍

[2018-02-20 22:56] lirbank commented on #431
Quick update, for anyone interested, here is my final solution that works with Heroku CI too:

[code]

[2018-02-21 22:04] jmorrell opened #522 "Explore using npm ci to install dependencies"
http://blog.npmjs.org/post/171139955345/v570

[2018-02-24 07:01] justsml commented on #11
Nested git repos seems to cause this too.

[2018-02-26 18:49] jrforrest opened #523 "Building without yarn version specified breaks with failure to fetch yarn 1.5.0"
Issue cropped up when building with an upstream buildpack (https://github.com/heroku/heroku-buildpack-emberjs) but we're pretty sure it's a failure in this one.

During a build on a project without a Yarn version specified in package.json, the build failed with:

[code]

Issue was resolved by setting Yarn version to `1.4.1` under `engines` in `package.json`.  Setting `YARN=false` to fall back to n

[2018-02-26 20:15] jrforrest commented on #523
@mzikherman Mind letting us know what version of the buildpack you guys are on over there?  We'd like to figure out if this is present in versions more recent than `v98`.

[2018-02-26 20:25] mzikherman commented on #523
Yup, looks like we are on `v101`.

[2018-02-26 22:03] jmorrell commented on #523
@jrforrest @mzikherman This is likely an issue with pinning the buildpack. We no longer use `semver` in the Node buildpack, and have switched to (nodebin)[https://nodebin.herokai.com/]. This was in release (v109)[https://github.com/heroku/heroku-buildpack-nodejs/blob/master/CHANGELOG.md#v109-2017-07-25].

The ember buildpack was pinned when an upgrade caused it to fail in a difficult to debug way.

[2018-03-01 01:04] #431 closed

[2018-03-01 01:05] jmorrell opened #524 "Follow-up to devDependencies change"
From @edmorley:

- Does `warn_missing_devdeps` in failure.sh need updating to also check for `YARN_PRODUCTION`?
- Can the `NPM_CONFIG_PRODUCTION` export now be removed from `bin/test-compile`?
- In `environment.sh`'s `list_node_config`, should the `mcount "npm-config-production-true"` also include `YARN_PRODUCTION` (or a new count be added)?

[2018-03-01 01:07] jmorrell opened #525 "Add Shellcheck linter"
https://github.com/koalaman/shellcheck

The python buildpack already does this: https://github.com/heroku/heroku-buildpack-python/blob/master/Makefile#L6

[2018-03-01 22:47] edmorley opened #526 "Compile times increased after #519"
Hi!

For one of our projects, the durations of the nodejs buildpack part of our compile are as follows (all times are with zero changes to `yarn.lock` since the last build):
* Prior to #519: 16 seconds ([log excerpt](https://emorley.pastebin.mozilla.org/9078913))
* After #519 (and after an interim build to warm the cache with devDeps): 42 seconds ([log excerpt](https://emorley.pastebin.mozilla.org

[2018-03-01 23:00] jmorrell commented on #526
Thanks for all your feedback @edmorley :)

Is most / all the extra time is coming from the prune step compiling native dependencies?

p95 and p99 seem unaffected, but we have seen a spike in median build time (change pushed around 20:30):

<img width="823" alt="lang buildpack librato 2018-03-01 14-54-57" src="https://user-images.githubusercontent.com/175496/36874391-95e7bcae-1d60-11e8-96bf-34295c6

[2018-03-02 12:01] edmorley commented on #526
The breakdown is as follows (using the timestamps in the log)...

Pre-#519:
* "Restoring cache": 2s
* "Building dependencies": 2s (no-op)
* "Caching build": 7s

With #519 and default buildpack settings (no environment variable overrides):
* "Restoring cache": 3s
* "Building dependencies": 2s (no-op)
* "Caching build": 8s
* "Pruning devDependencies": 25s

With #519 and `YARN_PRODUCTION=true`:
* "Re

[2018-03-02 18:15] jmorrell commented on #526
We are seeing much higher pruning times for yarn than npm, and I suspect that this is why. There are binary dependencies lurking in many build trees.

<img width="1404" alt="lang node js librato 2018-03-02 10-06-12" src="https://user-images.githubusercontent.com/175496/36914285-991b9138-1e01-11e8-9866-a55ee96c8e0e.png">

1. Removing `--ignore-scripts` is difficult since many kick off their build s

[2018-03-02 18:33] edmorley commented on #526
Ah of course - I was thinking the lifecycle scripts of the deps themselves, but there's also the root `package.json`'s scripts which are likely more invasive, so I agree `--ignore-scripts` probably has to stay.

That said with (2) fixed, the only people running prune will be those who actually have something to prune - so some kind of invalidation would be happening regardless of the flags change

[2018-03-02 19:26] jmorrell commented on #526
At the very least, this only results in a longer install and not a broken install, and it's something the yarn team is aware of https://github.com/yarnpkg/yarn/issues/932

[2018-03-02 21:43] jmorrell commented on #479
I respect the appeal to authority, but I don't think it holds very well here.

The crux of the issue is that the community as a whole doesn't follow that guide. Just about any boilerplate or starter project has a `build` script defined.

create-react-app: https://github.com/facebook/create-react-app/tree/next/packages/react-scripts/template#npm-run-build
ng-cli: https://github.com/angular/angular-

[2018-03-05 03:33] jasonkarns commented on #479
The intention here is to point out the behavior that npm and yarn provide out of the box when using `prepare` which will be lost when using a difference script.

Would there be a possibility to do one or the other as a fallback when one isn't provided?

I agree that the community itself hasn't coalesced around `prepare`. The reasons for this are obvious. `prepare` was only introduced in npm 4. "bu

[2018-03-06 09:45] itaysabato opened #532 "Pruning not skipped when `NPM_CONFIG_PRODUCTION=false`"
From the [docs](https://devcenter.heroku.com/articles/nodejs-support#skip-pruning) pruning is meant to be skipped when `NPM_CONFIG_PRODUCTION=false`.

This is not so in my build, e.g. this one from a few minutes ago:
[code]

As you can see it adds an unnecessary 24 seconds to the build that I would rather not have.

Thanks.

[2018-03-06 11:31] isaacseymour commented on #522
@jmorrell do you have any thoughts on how this should work? I can imagine two options:

1. if npm version in package.json >= 5.7 and package-lock/npm-shrinkwrap.json is present, use `npm ci`

2. only use `npm ci` if explicitly opted-in (maybe with a `manager` key in `package.json` as suggested in #503

I would personally go for 2, as I don't think `npm ci` is widely known about yet, so 1 might be

[2018-03-06 17:10] jmorrell commented on #532
@itaysabato when you are using Yarn, you need to set `YARN_PRODUCTION` to `false` or `true` depending on whether you want `devDependencies` installed or not.

This process of pruning should be fast, but Yarn has some open issues around this use case:
https://github.com/yarnpkg/yarn/issues/932

More here: https://github.com/heroku/heroku-buildpack-nodejs/issues/526

[2018-03-06 17:10] #532 closed

[2018-03-06 17:28] jmorrell commented on #522
In theory `npm ci` is what we should use every time if the project has a `package-lock.json`. If we add it to the buildpack it will probably be as a replacement to `npm install` if the version of npm supports it.

I'm not a fan of #2 and adding more config to the build unless there is a very good reason to do so. As much as possible the buildpack should "do the right thing" by default.

One issue

[2018-03-06 21:08] justinhelmer opened #533 "[QUESTION] how does the buildpack strip out devDeps?"
if you are installing all deps regardless of prod vs no (i.e. deps and devdeps), how can you possibly prune devDeps? with npm 3+, since modules are all flattened, how does pruning guarantee only modules that are non-prod are pruned?

For example, you might have a `devDependency` of `webpack` - but you also might have a `dependency` that (at some point down the chain) requires `webpack` as an actua

[2018-03-06 21:15] jmorrell commented on #533
Hi @justinhelmer! @hunterloftis now manages the languages team, and I took his position as the Node owner.

The short answer to your question is `npm prune`: https://docs.npmjs.com/cli/prune

Both npm and yarn will recalculate the entire dependency tree and remove those modules from disk that are no longer present in the new `dependencies`-only tree.

Does this answer your question?

[2018-03-06 23:33] justinhelmer commented on #533
Hey @jmorrell - thanks for the thoughtful reply.

This absolutely makes sense. I did not realize it recalculates the whole tree, which is the only way it could work.

Thanks a lot; I will close this issue unless a more discrete description of the macys problem comes up.

Cheers.

[2018-03-06 23:33] #533 closed

[2018-03-07 00:30] jmorrell commented on #533
@justinhelmer what problem is macy's having? Feel free to open a support ticket and request it be escalated to the Node team

[2018-03-08 20:35] Cryptophobia commented on #479
I think a potential fallback behaviour from `prepare` to `build` has potential for users. You can also notify them in the logs that `prepare` is the recommended way to build by npm, directly when the buildpack runs...

That being said, if `prepare` was introduced in npm4, then buildpack head in that direction.

[2018-03-08 21:17] hunterloftis commented on #479
One of the buildpack's goals is to allow the widest set of applications possible to "just work" without further configuration. To that end, I don't think we can ignore the community consensus around "build" for projects like react, angular, and next.

Similarly, we can't ignore "heroku-postbuild" as we've asked many users to adopt that convention since before "build" became a theme.

So regardless

[2018-03-08 21:36] jmorrell commented on #479
Some prior art: Zeit.co also uses the `build` script, using `now-build` instead if it's present: https://zeit.co/docs/deployment-types/node#file-system-specifications

The change I would make would mirror that: `build` by default, `heroku-postbuild` if it's present.

[2018-03-08 22:03] joshmanders commented on #479
I'd like to see it as @jmorrell suggested. `build` by default or `heroku-postbuild` if present.

[2018-03-14 22:01] TangeniThePyGuru commented on #288
"Unmet dependencies don't fail npm install but may cause runtime issues"

i get the above error when deploying angular app on heroku

[2018-03-14 22:04] jmorrell commented on #288
@TangeniThePyGuru do you experience any issues stemming from this message?

[2018-04-05 06:48] WeishiZeng commented on #385
I've been using `git subtree push --prefix {app_subfolder} heroku master`. It seems to do the work.

[2018-04-05 08:24] Bnaya commented on #385
@WeishiZeng can you please elaborate? :)

[2018-04-05 23:44] WeishiZeng commented on #385
@Bnaya The git command is used to push a subfolder to remote. If the subfolder happens to be a self-contained app recognized by heroku, then it'll be deployed.

[2018-04-13 10:12] thclark commented on #385
I've tried using the [subdir](https://github.com/negativetwelve/heroku-buildpack-subdir) build pack from @negativetwelve to do this with nodejs and python.

It's promising to be quite a neat way of achieving this, so thought it was worth mentioning.

I should note: my setup (ongoing hacking!) is still not fully working with this (both node and python apps build correctly, but there seems to be a f

[2018-04-26 09:48] SamMorrowDrums commented on #522
Does the fact it removes `node_modules` affect anyone adversely? I doubt it, and it's clearly an anti-pattern - but we wouldn't want people expecting that it would persist.

Caution is a good idea @jmorrell, and a bit of time to let users upgrade and try it out etc. but I think for sure we should move to `npm ci` within a few months. I've already updated a CI server to use it and it's working  wel

[2018-04-26 09:57] SamMorrowDrums opened #538 "Warn users about vulnerabilities with npm audit"
`npm audit` is coming very soon with NPM 6, and while I'm loath to suggest we needlessly add build steps that don't do building, it could help to reduce the amount of insecure 3rd party code being deployed. I would only propose it as a warning though.

Maybe the buildpack is not the place to do this, but warning users pushing code with known vulnerabilities could be a helpful feature.

https://med

[2018-05-03 20:33] jmorrell opened #541 "Buildpack will create a web process when none is specified in Procfile"
Seen in a customer app:

Procfile
[code]

In this case, the buildpack will still define a `web` process that defaults to `npm start` which creates some confusion. We default to giving the created `web` process one dyno and the `not-web` process zero dynos, which the user then has to go change. In the example above, there was not a `start` script, so the created dyno would just crash with an error.

[2018-05-21 16:01] haoyinag opened #542 ""npm -v " throw new Error('npm.load() required')"
: spawn C:\Program Files\nodejs\node.exe ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:227:19)
    at onErrorNT (internal/child_process.js:404:16)
    at process._tickCallback (internal/process/next_tick.js:63:19)
    at Function.Module.runMain (internal/modules/cjs/loader.js:721:11)
    at startup (internal/bootstrap/node.js:228:19)
    at bootstrapNodeJSCore (inter

[2018-05-21 18:05] jmorrell commented on #542
Hi there,

It looks like you're trying to use absolute Windows file paths from your local machine on your Heroku app? Heroku deploys your application into an Ubuntu environment, so you will need to use platform agnostic filesystem API's and relative paths.

Please file a support ticket at help.heroku.com, and we will try to help you, but this is not a buildpack issue.

[2018-05-21 18:05] #542 closed

[2018-05-22 08:47] stof opened #543 "Pruning dev dependencies fails when the npm registry has issues"
As far as I understand, pruning dev dependencies should be only about removing packages, and so should work offline. but this is not the case. With the npm registry down (as is the case right now), I get build failures while pruning dev dependencies (the initial install worked fine thanks to the cache)

[2018-05-22 16:51] jmorrell commented on #543
Thanks for bringing this failure mode to my attention, but I'm not certain this is actionable. I agree that it is odd that `npm prune` would fail without being able to talk to the registry.

[2018-05-22 16:54] stof commented on #543
Note that my project is using yarn. So it may be a yarn issue

[2018-05-22 18:53] jmorrell commented on #543
Closing as Not Actionable. If the npm registry is down that's a valid point of failure for deploying Node apps.

[2018-05-22 18:53] #543 closed

[2018-05-24 03:00] nholden opened #545 "Promoting Node JS app via Heroku Pipelines copies environment variables from staging"
I have an application that's using the Node JS buildpack on Heroku, and I saw that I should be able to [use `process.env` to access environment variables](https://devcenter.heroku.com/articles/getting-started-with-nodejs#define-config-vars).

The application uses Heroku Pipelines, and when I promote my application from staging to production, `process.env` in production still references the staging

[2018-05-24 03:16] nholden commented on #545
Ah, shoot. I think the places where I'm using `process.env` are being compiled when I push to staging, so I have a [stateful build](https://devcenter.heroku.com/articles/pipelines#release-phase-during-a-promotion). I'll need to rethink this.

[2018-05-24 03:16] #545 closed

[2018-05-24 16:54] nholden commented on #545
Thanks, @jmorrell! Yes, that's exactly what I'm doing. Webpack bundles the JS in the browser as part of the build. I'll give your suggestions a shot.

[2018-05-24 17:04] edmorley commented on #545
You might be able to borrow some ideas from:
https://github.com/mars/create-react-app-buildpack#runtime-configuration
https://github.com/mars/heroku-js-runtime-env

[2018-05-24 17:22] nholden commented on #545
Thank you, @edmorley! I'll take a look.

[2018-05-27 15:07] brettmcdade commented on #516
@ricardo-0x07 Were you able to get this resolved? I seem to be having the same issue...

[2018-05-28 20:10] jmorrell commented on #516
@brettmcdade please open a support ticket :) https://help.heroku.com

[2018-06-08 17:29] ianwremmel commented on #522
Is there a timeline for when this might be done? And is there any way to opt-in immediately? We're running into an issue where a dependency introduced a breaking change in a minor version; since `npm install` doesn't honor the lockfile, we shipped a broken product.

[2018-06-08 17:38] jmorrell commented on #522
@ianwremmel no timeline as other projects are currently taking priority. I'll see if I can carve out some time next week though.

If it is an option, [`yarn` already installs with `--frozen-lockfile`](https://github.com/heroku/heroku-buildpack-nodejs/blob/master/lib/dependencies.sh#L94) which will fail the build if `package.json` doesn't match the lockfile.

[2018-06-08 17:49] ianwremmel commented on #522
gotcha, thanks! We might go that route, but I think we're going to explore using shrinkwrap instead of the lockfile first.

[2018-06-09 10:15] hugocattelain commented on #502
Same here :

Resolving node version 7.7.1...
       Error: Invalid semantic version "7.7.1"
-----> Build failed
 !     Invalid semver requirement
       Node, Yarn, and npm adhere to semver, the semantic versioning convention
       popularized by GitHub.
       http://semver.org/
       However you have specified a version requirement that is not a valid
       semantic version.

[2018-06-09 20:14] jmorrell commented on #502
@hugocattelain Can you open a support ticket at https://help.heroku.com and tag @jmorrell?

This error can occur if the call https://nodebin.herokai.com/v1/node/linux-x64/latest?range=7.7.1 fails with an error, but that version works, so I'd love to dig in and figure out what might be going wrong here.

[2018-06-14 15:37] tikotzky commented on #512
Just an update if you'd like to get a json object with the latest you should be able to switch the api to call `npm info yarn dist-tags`. That currently returns
[code]
you you would then be able to pull latest from that list...

[2018-06-21 02:52] nholden commented on #545
Thanks again for your suggestions! The documentation around `create-react-app-buildpack` was especially useful in helping me understand the difference between "compile-time" and "runtime" environment variables.

In case it's useful for anyone else who comes along this issue, I ended up handling this configuration outside of Webpack. In my server-rendered HTML, I added a new script tag before my We

[2018-06-21 12:42] cyrilchampier opened #546 "Use buildpack CACHE_DIR"
It seems it already has been some discussions about that
https://github.com/heroku/heroku-buildpack-nodejs/pull/86/files
https://github.com/heroku/heroku-buildpack-nodejs/pull/507/files

But since it seems to exist multiple layer of cache, I am a bit confused.

My problem is:
I am using this buildpack in heroku-ci.
At each push, node.js is downloaded and some work is done
It take 50 seconds each t

[2018-07-18 02:44] angadsalaria commented on #221
+1 for above comment.

[2018-07-20 21:15] javidjamae commented on #385
One note to add to the conversation is that the `git subtree push` solutions only work when you're directly pushing your app to Heroku, but it doesn't solve the problem when you're setting up a Heroku CI Pipeline. In that case, the filesystem is readonly and (AFAIK) there is no way to control what subdirectory of the code is used for the test execution, deployment, etc.

I encountered this issue w

[2018-08-08 20:14] kris-campos commented on #385
has there not been an official solution for this yet? is there a ticket somewhere that we can follow?

[2018-08-08 20:30] jmorrell commented on #385
@kris-campos I haven't had a chance to loop back on this yet, so there is no official solution. In the meantime I would look at Yarn workspaces: https://yarnpkg.com/blog/2017/08/02/introducing-workspaces/ which I believe npm is also in the process of implementing.

This will be the first thing I explore as a potential solution. If you try them please report back with how it worked for you.

[2018-08-08 23:14] jmorrell opened #549 "Increase Node memory default during builds"
We've seen an increasing failures due to frontend build exceeding Node default 1.5GB memory limit during build. Heroku runs these builds on machines with 2.5GB of memory. For users on Node 8 and greater we can set `NODE_OPTIONS="--max_old_space_size=2560"` to increase this.

The drawback is that once users hit this new limit, there will be nothing they can do to get past it. The current limit curr

[2018-08-23 14:17] harrybiddle commented on #549
We've hit this issue too and since we are relatively inexperienced with node it took us quite some time to find this solution.

In my opinion we should increase the limit by default so that builds succeed. If a build fails on an earlier version of Node then the user could be advised to upgrade node.

This means we wouldn't have the early warning system we now have. However, I'd argue getting build

[2018-08-30 23:39] jmorrell commented on #549
This is a fantastic suggesting @harrybiddle! I'll see if I can implement something like this

[2018-08-31 07:27] nimmialampatt opened #562 "Bluemix node js build pack to support webm audio conversion"
Even after adding ffmpeg to bluemix node js build pack(I tried this https://github.com/BlueChasm/nodejs-buildpack-ffmpeg), it doesn't support webm audio format conversion.Could anyone please suggest alternate ways to support this issue?

[2018-09-01 22:16] loganfsmyth commented on #439
@jmorrell Out of curiosity, did this conversation around `babel-loader` and Webpack caching ever go anywhere? I work on Babel and it has been raised several times by folks using Heroku, so I'm curious.

[2018-09-04 20:50] #549 closed

[2018-09-07 20:09] jmorrell commented on #439
@loganfsmyth I'm afraid I got distracted by a different project and completely forgot about that.

At some point I'd like to improve our caching story around frontend builds. We cache `node_modules` by default, but I'd love to able to have a `babel` cache, a `webpack` cache, etc, that get's set up with no intervention by the user. I think the ecosystem is pretty far from making that possible today

[2018-09-07 20:28] loganfsmyth commented on #439
Totally fair. The main point that I've heard is the general concern about the build dir being unique per-build, because then any caches built using absolute paths automatically invalidate between builds, so that's the main thing I was curious about. It seems like having a stable build directory path would go a long way toward allow stable caching.

[2018-09-07 20:32] jmorrell commented on #439
@loganfsmyth I agree. Unfortunately that has been in our backlog forever, and my efforts at getting it prioritized haven't been successful.

[2018-09-07 20:35] loganfsmyth commented on #439
Cool, no worries, I know how that goes. At least now I can decide if it's worth tackling on our side. Thanks for getting back to me!

[2018-09-08 22:02] danielmahon commented on #385
@jmorrell I just starting switching to yarn workspaces & lerna. So far using https://github.com/timanovsky/subdir-heroku-buildpack I can get the package to run properly but I'm unable to access a shared module because it bascially wipes everything outside the sub directory so `shared-code` doesnt exist and is a local module, not published. Did you figure out a good way to solve this?
[code]

[2018-09-09 18:56] danielmahon commented on #385
This is my current working deployment setup using a local lerna / yarn workspaces monorepo:

First im using these 3 buildpacks:
[code]

I use `heroku-buildpack-run` to run this script to copy the "sibling" shared package into a `lib` folder within the main package to be deployed, as well as the root level `yarn.lock` which while it contains ALL the package dependancies, `yarn install` should still

[2018-09-10 21:28] jmorrell commented on #385
@danielmahon I'm unclear on why you need the subdir buildpack. With a `package.json` listing the `workspaces` at the root you could push the whole repo up and get all of your dependencies installed.

There are a couple of things that would be missing:
- support for build commands like `heroku-postbuild`, but you could add the scripts at the root
- no automatically picking up the `npm start` comman

[2018-09-10 21:35] jmorrell commented on #385
re: using yarn workspaces more generally

I got a support ticket recently from a user who had multiple services within the same repo, using yarn workspaces. They used an env var in each app (`$APP_DIR`) to direct that dyno to start that service.

One drawback to this is that it installs all of your dependencies for all of your applications, which was ballooning their app size over Heroku's limits.

[2018-09-10 21:39] jmorrell commented on #385
re: addressing this issue in a first-class way

Once [npm adds support for workspaces](https://npm.community/t/npm-needs-a-more-robust-story-for-local-multi-module-development/1059) making this first-class will become a top priority.

In the mean-time if you run into issues setting things up with workspaces, please comment here or open a support ticket, and let's work through what you found diffic

[2018-09-12 21:03] jmorrell commented on #562
@nimmialampatt if you use the container stack beta, you can define apt packages in `heroku.yml` https://devcenter.heroku.com/articles/buildpack-builds-heroku-yml#installing-packages-from-apt

[code]

Otherwise you could use the official node buildpack alongside https://github.com/kontentcore/heroku-buildpack-ffmpeg

[2018-09-12 21:03] #562 closed

[2018-09-15 17:50] ElishaKay commented on #11
Verify your .git folder has the package.json in the root directory.

[2018-09-17 16:15] danielmahon commented on #385
@jmorrell Thanks for the info! I will give your suggestions a try when I get a sec and let you know how it goes.

[2018-09-19 22:39] danielmahon commented on #385
The much simpler setup for using a `lerna` monorepo with `yarn workspaces` and, in this case, `create-react-app` thanks to the previous suggestions by @jmorrell 🥇 !

In this example `@scope/app` is a `create-react-app` app, and `@scope/server` is a standard node server (like graphql-yoga). If you're not using CRA just ignore/remove those parts. When a new commit is pushed to a Heroku pipeline, bot

[2018-09-26 14:51] edmorley opened #571 "Leading whitespace removed from yarn/npm log output"
Hi!

Using the stable buildpack release (`v128`), the compile output for our `heroku-postbuild` step is:

[code]

Compare this to running locally:

[code]

I believe this is because the `heroku-postbuild` step is being piped through `output()`:
https://github.com/heroku/heroku-buildpack-nodejs/blob/6ea576cf5a1d31031b4790391f181a0cd68126fb/lib/output.sh#L9

...and `output()` is not setting `IFS` as

[2018-09-26 15:38] edmorley commented on #525
Shellcheck would have caught the missing `-r` from `read` (found whilst looking at #571):

[code]

[2018-09-30 11:15] shakesBeardZ opened #573 "Npm error when trying to deploy with local modules"
I'm having this problem while trying to deploy my app to heroku (everything works fine locally and in my server )

![image](https://user-images.githubusercontent.com/15571628/46256965-80449080-c4b2-11e8-8069-25020eefbd66.png)

I use local files to package and install a few node modules

![image](https://user-images.githubusercontent.com/15571628/46256981-a407d680-c4b2-11e8-8b1a-843dc6e3faa5.png)

[2018-10-01 20:52] jmorrell commented on #573
Hi! Can you open a support ticket at help.heroku.com? It's much easier to debug app-specific issues there

[2018-10-01 20:52] #573 closed

[2018-10-02 17:19] #571 closed

[2018-10-16 09:55] edmorley commented on #190
I have created a buildpack that prefixes each line of the build logs with timestamps, and adds an overall duration to the end of each buildpack's compile step - if it's of any use?
https://github.com/edmorley/heroku-buildpack-timestamps

We're been using it in production for 6 months now and it's helped us track down the slow parts of our multi-buildpack builds.

[2018-10-23 09:07] metakermit commented on #479
Another issue is that from what I understand Heroku won't install devDependencies, so the best substitute for now is to add to your *app.json*:

[code]

(I would also like to see heroku/nodejs support this sort of behaviour out of the box, because it's so common among frontend JS frameworks)

[2018-10-26 09:16] edmorley opened #576 "Add Node 11 to nodebin"
Hi!

Node 11 has been released:
https://nodejs.org/en/blog/release/v11.0.0/

Though it's not yet present on nodebin, so can't be used in Heroku deployments:
https://nodebin.herokai.com/v1/node/linux-x64/latest?range=11.x
-> HTTP 404

Please could it be added?

[2018-10-26 17:57] jmorrell commented on #576
Hi Ed, expect this to be available on Monday.

The binary is actually available on nodebin, but the automated tests aren’t
updated for the major version bump yet so it’s still in “staging”. You can
try it by specifying 11.0.0 exactly.

On Fri, Oct 26, 2018 at 4:16 AM Ed Morley <notifications@github.com> wrote:

--

<http://smart.salesforce.com/sig/jmorrell//us_mb/default/link.html>

[2018-10-27 15:43] SeunghunSunmoonLee opened #577 "heroku node deployment(react-boilerplate) sh: 1: node-pre-gyp: not found error"
I'm getting error when deploying react-boilerplate on heroku with feathers, nodejs, mongodb, react. I specified up to date versions in package.json, and tried building with both npm and yarn but both fail. I appreciate your help!

      "engines": {
        "npm": ">=6.4.1",
        "node": ">=v8.12.0",
        "yarn": ">=1.10.1"
      },

trial 1:
install with npm. error:  sh: 1: node-pre-gyp: no

[2018-10-27 20:47] jmorrell commented on #577
@SeunghunSunmoonLee What is the app name? Can you push to a support branch?

[code]

At first glance this looks like an issue with a dependency

[2018-10-30 00:00] #576 closed

[2018-10-30 18:42] Kjwon15 opened #579 "nvmrc support"
Currently, this buildpack assumes node version by parsing package.json, engines.npm, engines.yarn.
nvmrc also can specifying node versions to.

[2018-10-30 20:12] jmorrell commented on #579
This a great suggestion, but I'm against allowing more than one way of specifying a specific configuration if we can help it

[2018-10-30 20:12] #579 closed

[2018-11-04 21:28] jmorrell commented on #479
@metakermit Heroku does install `devDependencies` by default for the build step, then removes them with `npm prune` once it is completed. This was done in this PR: https://github.com/heroku/heroku-buildpack-nodejs/pull/519 last February

Your example here should work with:

[code]

[2018-11-04 21:43] jmorrell opened #583 "Intent to ship: Run 'build' script by default"
Previous discussion: https://github.com/heroku/heroku-buildpack-nodejs/issues/479

While we offer support for running build scripts using `heroku-prebuild` and `heroku-postbuild` hooks, the community has coalesced around using `build` for build scripts. Many boilerplates don't work out of the box on Heroku due to not running build by default.

Making the buildpack automatically run the `build` scr

[2018-11-04 21:43] jmorrell commented on #479
Closing in favor of https://github.com/heroku/heroku-buildpack-nodejs/issues/583

[2018-11-04 21:43] #479 closed

[2018-11-05 08:02] edmorley commented on #583
Out of curiosity, do you know of why this might be?

I can think of:
1. there are additional automatically run `package.json` scripts that people are using that are not included in the [currently recorded metrics](https://github.com/heroku/heroku-buildpack-nodejs/blob/998beb13be16f0d96293900fc16a7b6bbb13e4b1/lib/dependencies.sh#L49-L51) (eg `prepare`, `install`, [others](https://docs.npmjs.com/mis

[2018-11-05 18:12] jmorrell commented on #583
After talking to some people, going to push this off until after Thanksgiving / Black Friday since the timing is a little tight

[2018-11-08 00:05] jmorrell commented on #577
Closing due to inactivity. Can you please open a support ticket at help.heroku.com if you are still having issues?

[2018-11-08 00:05] #577 closed

[2018-11-12 23:35] #523 closed

[2018-11-15 08:43] StevenJBurns opened #589 "MERN Deployment Fails at the React Build Stage"
I'm sure my experience level is a barrier to solving this on my own but here's what's going on. Locally, the app works without a hitch for both the Express server and the React client  The first several attempts at deploying the whole MERN project failed. Later that night and for about 12 hours after deployments were magically working! Not sure what I did to fix it at that point even after reviewi

[2018-11-15 09:03] edmorley commented on #589
Hi!

The key part of the error message is `sh: 1: cross-env: not found`, which means that cross-env was either not installed, or not on PATH. I see that cross-env is not listed in the root `package.json` (which is the one that this buildpack automatically installs), and instead is listed in `client/package.json`.

However it looks like the root `package.json`'s `heroku-postbuild` script entry is m

[2018-11-15 09:16] StevenJBurns commented on #589
No luck yet but I think we're on the right trail.  I tried  A) add cross-env to the server side and B) changed the client/package.json heroku-postbuild to what you suggested.

This is what I see now:  sh: 1: rollup: not found

Have you ever stared at a single line for 36 hours ready to throw your computer out the window?

And thanks Ed!  It is very much appreciated as asking for help is definitely

[2018-11-15 09:39] edmorley commented on #589
Ah so I think I know what the remaining issue is:
* the `@fortawesome/react-fontawesome` package has a `prepack` script in its [own package.json](https://github.com/FortAwesome/react-fontawesome/blob/147172c8824620c2daf1df49780ed1abb7f2a68a/package.json#L31)
* `prepack` script entries [are run](https://docs.npmjs.com/misc/scripts) "before a tarball is packed (on npm pack, npm publish, and when ins

[2018-11-15 10:31] StevenJBurns commented on #589
Thanks for all your help again Ed!  I didn't know this was a thing but my suspicions were raised early on when I added react-fontawesome to the mix because I saw this line in the client/package.json:

"@fortawesome/react-fontawesome": "github:fortawesome/react-fontawesome"

It didn't sit well with me so I wandered over to NPM, grabbed the ^0.1.3 reference and forced it in.

I understand from a 20,

[2018-11-15 11:41] StevenJBurns commented on #589
OK, I got it working but it felt like the hackiest hack...

So I did what you recommended, removed all the devDependencies that I tried to install manually, killed the package-lock.json for both server and client (because why not and it made sense after you explained it). ran npm i for both server and client to refresh the package-lock files...

Something interesting happened after forcing the rea

[2018-11-15 11:42] #589 closed

[2018-12-13 17:19] cancan101 commented on #538
I think audit is run by default on `npm install` (https://docs.npmjs.com/auditing-package-dependencies-for-security-vulnerabilities).
https://github.com/heroku/heroku-buildpack-nodejs/blob/f6d55d632a84bc1a83d20bb15ce4d186846cff6d/lib/dependencies.sh#L157

[2018-12-15 09:48] gkatsanos commented on #504
Hello, I guess I have the same issue, described there: https://stackoverflow.com/questions/53788097/using-a-separate-testing-mongo-database-on-mongo-and-heroku
My "test" command, even though it specifies NODE_ENV=test, seems to be running with production set.
[code]

[2018-12-18 01:48] #538 closed

[2018-12-18 01:49] SamMorrowDrums commented on #538
Might be worth checking of it's the case with NPM CI as that may differ and is likely the future of this package I'd assume.

I've closed anyway as its covered as is for now.

[2018-12-18 17:58] cancan101 commented on #522
Any updates on moving over to the ci install? This may speed up the install and would likely turn off the (slow) security audit which should have been run previously and not on Heroku at deploy time (assuming frozen deps).
And by slow I see the following:
[code]

[2018-12-20 22:47] gkatsanos commented on #504
@jmorrell hey Jeremy, any hints on what I could be doing wrong?

[2018-12-20 22:58] gkatsanos opened #598 "yarn test is not using NODE_ENV test but runs in production context"
It seems heroku is ignoring of over-writing a NODE_ENV variable from my package.json .
[code]

now they are run with production rights... :/

[2018-12-21 18:51] jmorrell commented on #598
@gkatsanos I don't really understand how the buildpack could override an ENV var you've preprended to the test command here...

I saw https://github.com/gkatsanos/boilerplate-server/commit/e9dd72d4c80c6ac00b8bbc5f9230ae65a79ffd01. Were you using an old version of the buildpack? Feel free to open a support ticket at help.heroku.com because I'm not sure what is happening here

[2018-12-21 18:52] jmorrell commented on #598
We set `NODE_ENV` to `test` when building for CI: https://github.com/heroku/heroku-buildpack-nodejs/blob/master/bin/test-compile#L8

[2018-12-21 18:55] jmorrell opened #599 "`bin/test` should use the presence of yarn.lock to choose between npm and yarn"
It's possible to install yarn by defining a yarn version requirement in `package.json` but use npm instead. In the buildpack we choose which one to run based on presence of `yarn.lock`, except in `bin/test`: https://github.com/heroku/heroku-buildpack-nodejs/blob/master/bin/test#L4

We should update this to be consistent with the rest of the buildpack. This issue is mainly a note so that I don't fo

[2018-12-21 19:40] gkatsanos commented on #598
I think I fixed it by hard-specifying the buildpack version :
heroku buildpacks:set https://github.com/heroku/heroku-buildpack-nodejs#v134 -a boilerplate-server
(originally I had started this more than a year ago so I think the bug was not fixed then?)

I wonder why just setting it without version didn't default to the latest one..

[2018-12-22 18:13] jmorrell commented on #598
@gkatsanos Unless you specifically pin to a specific git tag, you should always get the latest buildpack version. It's aliased as `heroku/nodejs`:

[code]

Looking at the builds for `boilerplate-server` I can confirm that you were using the latest published version, and none of the relevant code has changed in quite some time...

Even in the old version, the buildpack should not be able to overwri

[2018-12-22 18:13] #598 closed

[2018-12-25 07:47] #501 closed

[2019-01-11 18:10] patrickmichalina commented on #522
Hoping this gets added soon

[2019-01-24 22:38] jmorrell commented on #525
Done in too many PRs #602 - #610

[2019-01-24 22:38] #525 closed

[2019-02-08 03:47] #599 closed

[2019-02-11 17:55] jmorrell commented on #583
Changelog published: https://devcenter.heroku.com/changelog-items/1557

[2019-02-11 20:06] edmorley commented on #583
Hi!

We received the notification email for our enterprise team.

One of the apps within that email was:
https://dashboard.heroku.com/apps/ensemble-transposer

However that apps uses the `container` stack, so isn't using the `heroku-buildpack-nodejs` buildpack set for the app.

Another app listed was:
https://dashboard.heroku.com/apps/taskcluster-task-analysis

That app is already running `build`

[2019-02-11 20:21] jmorrell commented on #583
Hi @edmorley!

Ah, thanks for letting me know! I'll use that to refine query for the apps we send reminders out about in 2 weeks 👍

That's not an error. There is no special handling around `postinstall` in the buildpack. The code you quoted was just added to get numbers around how many people fell into that bucket. If that app is not updated it will execute the build twice when this rolls out next

[2019-02-16 12:50] ideallical opened #622 "An unexpected error occurred: "Script must exist""
In my package.json I had:

`scripts: {
    heroku-postbuild: ""
}`

Deploying always worked until recently.
I think it has to do with this recent commit: https://github.com/heroku/heroku-buildpack-nodejs/commit/57b6c87bffee00b70f9765a5b14180dd698ec6b6

Not sure if this is intended behaviour, but it took me awhile to find out it was due to an empty string in the heroku-postbuild property. Perhaps "

[2019-02-16 21:00] dcalixto opened #623 "query-string package push issue"
after try to push the repo in the logs show this error:

[code]

And i checked the file and line

is this:
`return (key, value, index) => {`

Whats the matter with this line?

[2019-02-18 01:16] alexpetralia commented on #385
Hi was there ever a solution here? Or is the only solution: https://github.com/heroku/heroku-buildpack-nodejs/issues/385#issuecomment-422981921

Running `npm install --prefix server && npm install --prefix frontend-app` did not work for me because Vue CLI 3 uses `vue-cli-service` from `node_modules`, and this is not read since it it is in a subdirectory.

[2019-02-18 02:05] alexpetralia commented on #385
I figured out a really hacky but simple solution if this works for anyone else.

1.  Include this in your Procfile: `release: cd web && npm install && npm run build`

Here you `cd` into your subdir, `npm install` because otherwise it will throw an error saying it doesn't have `node_modules`, and finally `npm run build` to build your source files

Heroku will say you need a `package.json` in your r

[2019-02-19 00:36] jmorrell commented on #385
Hi @alexpetralia!

The solution will likely be some additional functionality around `workspaces`. Link to yarn docs: https://yarnpkg.com/lang/en/docs/workspaces/

In the case where you have two apps in two directories: `server` and `frontend-app`, you could add a `package.json` at the root that looked like this:

[code]

and the buildpack would take care of making sure those dependencies are insta

[2019-02-19 00:40] jmorrell commented on #385
@alexpetralia

I am unsure how this is working for you. It is not possible to modify your built image during release phase.

https://devcenter.heroku.com/articles/release-phase#design-considerations

This will work if you add `cd <YOUR_APP> && npm install && npm run build` as a `heroku-postbuild` script in your root `package.json`:

[code]

[2019-02-19 00:44] jmorrell commented on #623
Hi, this looks like an application-specific build error. You can likely reproduce it locally by running a production build:

`NODE_ENV=production npm run build`

[2019-02-19 00:44] #623 closed

[2019-02-19 00:45] jmorrell commented on #622
Hi @ideallical!

Can I ask why you have an empty `heroku-postbuild` script?

This does sound like a bug. I'll investigate and get a fix out this week.

[2019-02-19 01:05] alexpetralia commented on #385
Interesting. I'm reluctant to touch what's working for me now but should it
break in the future, I'll try your fix. Thanks for checking however.

On Mon, Feb 18, 2019, 19:40 Jeremy Morrell <notifications@github.com wrote:

[2019-02-19 19:03] ideallical commented on #622
I don't know why it was blank, it has been like this since the first commit in our project.

Thanks!

[2019-02-19 20:14] jmorrell commented on #622
This is due to yarn throwing an error when the script is empty. We can work around this.

[2019-02-21 00:42] #622 closed

[2019-02-21 04:23] alexpetralia commented on #385
Ok - for posterity. @jmorrell perhaps unsurprisingly was right: the `release` phase specified in your Procfile does not share the same file system as the implicit `build` phase which executes before your Procfile.

In other words, running `npm build run` or `python manage.py collect-static` in the `release` line of your Procfile does nothing because those file system operations are essentially run

[2019-02-21 10:16] jskrzypek commented on #522
Can we add the use of `npm ci` behind a flag for now at least? I made a PR (#626) to provide this behavior.

[2019-03-01 02:49] #490 closed

[2019-03-05 19:31] OliverJAsh opened #632 "Changelog is missing entries"
I am trying to understand a behaviour difference after upgrading, however the changelog is missing a few of the most recent versions.

Would it be possible to get the changelog updated?

[2019-03-06 10:19] OliverJAsh opened #634 "Yarn `--ignore-scripts` causing issues"
At Unsplash we use the popular tool [`patch-package`](https://github.com/ds300/patch-package) to apply patches to our Node modules after installation. This works in the form of a `postinstall` script.

However, this buildpack [invokes `yarn` with the `--ignore-scripts` flag when pruning dev dependencies](https://github.com/heroku/heroku-buildpack-nodejs/blob/v139/lib/dependencies.sh#L193) (since v

[2019-03-06 18:43] jmorrell commented on #634
This is needed because yarn does not provide a "prune" equivalent command. If someone were to kick off their build in `postinstall` they would end up running it twice, but it would fail the second time without `devDependencies`. The one we use was recommended in this issue: https://github.com/yarnpkg/yarn/issues/696

https://yarnpkg.com/lang/en/docs/cli/prune/

I'm hesitant to add another script t

[2019-03-07 18:33] jmorrell commented on #632
Closing based off discussion in https://github.com/heroku/heroku-buildpack-nodejs/pull/633

[2019-03-07 18:51] OliverJAsh commented on #632
AFAICS the change log is still missing the most recent few versions. Can we re open?

[2019-03-07 18:52] jmorrell commented on #632
Oh yes, I'll get that fixed

[2019-03-08 21:34] #632 closed

[2019-03-11 13:27] #583 closed

[2019-03-11 15:03] jmorrell commented on #583
This is done! 🎊

[2019-03-15 01:40] aaronjensen commented on #416
AFAICT, caching anything w/ `..` doesn't work.

[2019-03-26 01:02] waditya opened #641 "MERN Deployment is failing when deployed at Heroku"
Hello everyone,

I am new to React development. I have created a React application. It is running perfectly well on localhost. When I try to deploy to Heroku, I am getting error. I am trying to troubleshoot for last 13 hours but no luck. Any help or guidance is appreciated.

The Repository is as below -
https://github.com/waditya/TripWithUs2

E:\03 Spring 2019\ISTM 631 601 Information System Desig

[2019-04-01 03:20] nicerobot opened #643 "Removing node_modules makes it complicated to use in containers"
This appears to be the problem:

[`rm -rf "$BUILD_DIR/node_modules"`](https://github.com/heroku/heroku-buildpack-nodejs/blob/master/bin/compile#L207)

When creating a container like:

    docker run --rm -it \
        -v app_modules:/app/node_modules \
        -v ${PWD}:/app:cached \
      build_image /build/bin/compile /app /tmp /env

Seems to be failing with

    rm: cannot remove '/app/node_mod

[2019-04-01 17:46] jmorrell commented on #643
👋  Hi @nicerobot

I'm a little unsure about using the buildpack this way. I don't see any reason why it wouldn't work, but I also can't say this is a supported use-case.

I don't really understand what this part of your docker command is doing. What are `app_modules` and why are you mounting them as `/app/node_modules`?

[code]

The buildpack will install and build your modules based off of your l

[2019-04-01 17:48] jmorrell commented on #641
Hi @waditya, I'm afraid this issues list is meant for discussing issues with the Node buildpack, not for providing one-off support for application developers. Please open a ticket at https://help.heroku.com/

[2019-04-01 17:48] #641 closed

[2019-04-01 21:22] jmorrell commented on #643
I'm fuzzy on Docker, but if you switch that to persisting the cache directory between builds, I suspect you will get the behavior you're looking for. The buildpack already persists `node_modules` into the cache directory between builds and has the logic to restore that cache and invalidate it when necessary.

I agree. That is why we are investing in a new spec that treats containerization as first

[2019-04-02 13:26] jkutner commented on #643
@nicerobot If you're interested in running this buildpack in a containerized environment, then I recommend using the `pack` CLI, which I see you've already got some familiarity with. The Heroku builder for `pack` has this buildpack bundled into it.

Unfortunately, the setup is a little cumbersome *today*, because we have a release planned for *tomorrow*. You can either wait 24 hours or try to buil

[2019-04-03 15:58] jkutner commented on #643
@nicerobot here it is https://medium.com/buildpacks/cloud-native-buildpacks-hit-beta-4d9f2c85dd22

[2019-04-03 17:28] jmorrell commented on #643
Closing this issue as out-of-scope for the current buildpack. We will address local development with CNB but that's a larger discussion.

[2019-04-03 17:28] #643 closed

[2019-04-19 21:10] ridhwaans opened #656 "Install devDependencies in subdirectories"
app is structured like
[code]

`webpack` + exclusive dependencies are in `package.json` of client subfolder
at the top level, `package.json` has
[code]
Heroku deploy returns `failed: webpack not found`. How do I tell the nodejs buildpack to install from two package.jsons? considered using `NPM_CONFIG_PRODUCTION=false` and `heroku-prebuild` to cd to install

[2019-04-19 23:13] ridhwaans commented on #656
resolved after adding `"postinstall": "cd client && npm install",`

[2019-04-19 23:13] #656 closed

[2019-04-25 15:18] bufordtaylor commented on #516
Same

[2019-04-25 18:39] jmorrell commented on #516
@bufordtaylor Can you open a ticket? https://help.heroku.com Or maybe paste your `package.json` and build log in a gist? This is not behavior that I've been able to reproduce.

[2019-05-14 23:34] jwickens opened #665 "Yarn cache does not work by default"
Hi, the docs

https://devcenter.heroku.com/changelog-items/1082
https://devcenter.heroku.com/articles/nodejs-support#cache-behavior

suggests that yarn caching works by default. My builds consistently showed however that only node_modules was being cached, which is insufficient for yarn workspaces and also inconsistent with what the docs seems to specify above.

I tried setting cacheDirectory to t

[2019-05-30 14:01] MicMicMon opened #675 "Angular 8 : UNMET DEPENDENCY @angular/common@8.0.0"
When building with Angular 8, I get the following in the build output:

[code]

It seems to indicate that `common` and `core` packages are not present? But they were there because prod build of the app succeeded.

What is the explanation, and how to fix?

[2019-05-30 17:55] jmorrell commented on #675
Hi @MicMicMon!

I'm afraid this is an npm message, which is outside of the control of the buildpack. You might find this Stack Overflow discussion helpful: https://stackoverflow.com/questions/35738346/how-do-i-fix-the-npm-unmet-peer-dependency-warning

If your build is working despite these warnings, then you can likely ignore them.

[2019-05-30 17:55] #675 closed

[2019-06-02 21:20] glukki commented on #522
@jmorrell any updates? how can we help?

[2019-06-03 16:03] jmorrell commented on #522
@glukki I'm working on shipping this as an experiment to gather data: https://github.com/heroku/heroku-buildpack-nodejs/pull/676

[2019-06-12 20:00] jmorrell commented on #522
Update:

The experiment is currently turned off.

Data from the last week. This is time it takes to install dependencies:

| Measurement | npm install | npm ci |
| --- | --- | -- |
| average | 22.2s | 30.6s |
| median | 8s | 14.1s |
| p90 | 50.9s | 75.1s |
| p95 | 99.5s | 120.1s |
| p99 | 223.9s | 235.4s |

Here `npm install` is faster in every measurement. However, if we only look at builds where

[2019-06-12 21:01] cancan101 commented on #522
Interesting! Is there any way to disable to the security audit in the case of using `npm install`? If so, it might be interesting to see how much faster that makes the install.

[2019-06-12 21:55] jmorrell commented on #522
@cancan101 I think that is the `--audit=false` flag, which you *should* be able to set yourself by env var:

[code]

or with a config in your `.npmrc`:

[code]

Overall I think that `npm ci` is likely the better option once were caching the official cache.

[2019-06-13 20:35] jmorrell commented on #522
Turns out there is a similar, unresolved issue with `npm ci` and `npm prune`: https://npm.community/t/npm-prune-production-after-npm-ci-only-erroneously-uninstalls-regular-dependency/5055

This leaves us with a few options:

- wait for it to be fixed and gate `npm ci` usage on a fixed release like we do for [pruning](https://github.com/heroku/heroku-buildpack-nodejs/blob/master/lib/dependencies.sh

[2019-06-19 18:55] sophyphreak opened #683 "App works fine locally, deploys to Heroku, but doesn't load, has error "App boot timeout""
## Description

I'm using gatsby 2.0.76, deploying through heroku-cli. The app seems to deploy just fine, getting this message in the command line:
[code]
But then it doesn't load, and I get the heroku application error page:

[![!\[Heroku Application Error Page][1]][1] I get this error when I run `heroku logs --tail` in the command line:

[code]
### Steps to reproduce

1. Clone [my github repo][2

[2019-06-28 21:00] sophyphreak commented on #683
You can find the fix [here](https://github.com/gatsbyjs/gatsby/issues/14546).

[2019-06-28 21:00] #683 closed

[2019-07-08 11:22] chrisd08 commented on #385
@danielmahon You're a god, tried so many different buildpacks before stumbling upon this. Builds seem quick with this approach too.

[2019-07-14 23:17] timlesallen opened #688 "Make pnpm an option (as well as the existing npm, yarn options)"
How hard would this be?  Can anyone see any major obstacles?  I might be willing to have a crack at it.

[2019-07-15 17:17] jmorrell commented on #688
I don't see any reason we couldn't do this. Could you speak to how you'd be served by having `pnpm` available? It's low usage has meant that this hasn't been a priority.

re: implementation

Right now, we have a pretty simple system. [If `yarn.lock` is present](https://github.com/heroku/heroku-buildpack-nodejs/blob/master/bin/compile#L92), we use `yarn`, otherwise `npm`. Adding another option mean

[2019-07-16 16:01] isaachinman commented on #385
Is this issue being tracked anywhere? We should be able to use `npm link` and `yarn link` in Heroku contexts - this workflow is very typical for package/library development.

[2019-07-18 18:38] LawJolla commented on #385
It's crazy to me how hard it is to run apps from a monorepo with shared code.  I had to modify @danielmahon 's code (thank you!) because my shared code dependencies are themselves a tree which depend on order.

My question is if I have two static websites, it seems like it's not possible to run a monorepo on Heroku because you're only allowed one static.json file and `root` does not take environme

[2019-07-18 20:35] jmorrell commented on #385
@LawJolla a Heroku app can only have one service bind to port 80 and respond to web traffic. There may be hacky ways of solving this problem, but no official one.

One way others have worked around this is by creating multiple apps with different env vars to point to different sub-directories. You can do this within the same Pipeline: https://devcenter.heroku.com/articles/pipelines#multiple-apps-i

[2019-07-18 20:36] jmorrell commented on #385
@isaachinman @danielmahon I don't know why symlinks would not work properly, but I would be happy to dig into a repro if you have one.

[2019-07-18 21:01] LawJolla commented on #385
Thanks @jmorrell ,

I am only having one service bind to port 80.  In fact I have four services binding.
--packages
   -admin-client
   -admin-server
   -customer-client
   -customer-server
static.json

The servers are running fine.

The problem is both clients are create react apps.  And apparently Heroku only allows one static.json file, so I can only specify root to one of them, e.g. "packages/

[2019-07-18 22:11] jmorrell commented on #385
This is more a concern of the [create-react-app buildpack](https://github.com/mars/create-react-app-buildpack#user-content-architecture-) or the underlying [heroku-buildpack-static](https://github.com/heroku/heroku-buildpack-static) which configures nginx for you. These buildpacks are designed with one app in mind, not monorepos, so it's not surprising that they run into issues in that context.

Y

[2019-07-19 08:58] isaachinman commented on #385
@jmorrell Unfortunately I don't have time to put together a minimal repro, but `next-i18next` at [this release](https://github.com/isaachinman/next-i18next/tree/8b2e0bdb49a6801159dcea1e0936a0b5603397c9) will reproduce the issue.

We've got a nested example app which attempts to consume the top-level package via `yarn link` in build scripts.

If you build and run this via Heroku, you'll see the err

[2019-07-19 17:33] LawJolla commented on #385
I put node in-front of the create react app for the work around.

Zeit Now is doing a great job.  https://zeit.co/examples/monorepo/ . However, they're only stateless servers, and I need stateful servers.

So, here's my dream list:
A Yarn workspaces buildpack.  That buildpack will understand the packages, how to build them if needed (probably just calling `yarn build` as it does now), and how to c

[2019-07-19 18:21] jmorrell commented on #385
This is another work-around, but you could likely benefit by setting custom cache directories: https://devcenter.heroku.com/articles/nodejs-support#custom-caching

I'm experimenting with better caching strategies which should help here.

I largely agree with your vision there. Thank you for the feedback

[2019-07-20 07:49] jtushman commented on #665
@jwikens. I am running into this too. Did you find a workaround?

[2019-07-22 07:31] jwickens commented on #665
No unfortunately not, just living with ~70s install times about a 1/4 of the time of the entire build.

[2019-07-22 12:50] jtushman commented on #665
I submitted a ticket -- we will see what they say.  But I think I am going to try to move to lerna/npm and see how that feels to me.

[2019-07-22 16:12] jmorrell commented on #665
I'm working on an A/B test for caching the yarn cache instead of `node_modules` to see what the impact is there. I will also check that against caching all of the `workspace` `node_modules` directories, but this exploration will take time.

In the meantime, the biggest thing you can do would be to cache the workspace `node_modules` directories yourselves by adding a `cacheDirectories` configuratio

[2019-07-23 12:44] jtushman commented on #385
@jmorrell -- I am running the same setup as many of the people on this thread:
yarn workspaces

[code]

My package structure:
[code]
server/package.json
[code]

Procfile
[code]

I got everything running nicely EXCEPT -- the node_modules caching.

in my root package.json I have:

[code]

but keep saying that `backend/node_modules` is empty -- and keeps on fetching everything on each deploy, and tak

[2019-07-23 13:01] jtushman commented on #665
Thanks @jmorrell !

I commented on a similar thread else where:

But I have tried adding that "cacheDirectories" settings and it does not seem to be picking those up.

My setup:

[code]

My package strucuture:
[code]

Procfile:
[code]

backend/package.json
[code]

Everything works -- except the node_module caching (which I would LOVE to get working)

I think you are an heroku employee -- happy to

[2019-07-23 14:36] breathe commented on #665
Hi @jtushman — I’m not a heroku employee or as knowledgeable about this as Jeremy — but I think the heroku node buildpack will only process the cacheDirectories parameter from a ‘package.json’ file in the repository root.

I think you could place a pretty minimal package.json file in your project root and get this working ...

Something like
‘’’
{
  private: true,
  cacheDirectories: [
    “client

[2019-07-23 15:51] jtushman commented on #665
Thanks @breathe !

I actually have the cacheDirectories setting in the root as well (just incase that was the case) -- and still no avail for me.

The reason why I separate the client and backend is the client(a react app) is like 100MB once compressed.  So i would like to avoid having that in the server slug.

[2019-07-23 16:15] jmorrell commented on #665
@jtushman I suspect the issues there probably stem from using the `subdir-heroku-buildpack` in conjunction with the Node buildpack, but I will take a look at your ticket and get back to you.

This is correct, though I'm not certain how the subdir buildpack would affect this.

[2019-07-23 22:04] jmorrell commented on #665
The subdir buildpack effectively deletes everything except for the subdirectory and then moves it to the root build directory:

something like:
[code]

This means that:

- the root `package.json` does not exist by the time the Node buildpack is invoked
- the  cache directory `“backend/node_modules”` isn't correct because that directory is now at `./node_modules` with `“backend/cli/node_modules”` a

[2019-07-26 18:50] chrisd08 commented on #385
@jtushman Did you get anywhere? For me it recognises the cached directories but still spends over a minute refetching. (Unless it's only fetching dev dependencies, not sure how it works).

https://pastebin.com/0NQNJJRS

[2019-07-27 14:55] jtushman commented on #385
Hi chris -- I am still working on it.

@jmorrell is working on a PR that will cache yarn/cache.  Maybe that will help.

Yeah I really don't get what is happening on the refetching.

what does your `node scripts/remove-workspaces.js` look like?  i am intrigued

[2019-07-27 15:07] chrisd08 commented on #385
@jtushman Ah okay. That script is what @danielmahon kindly contributed here: https://github.com/heroku/heroku-buildpack-nodejs/issues/385#issuecomment-422981921 (I just added moving the Procfile for the workspace defined by APP_WORKSPACE to root so it's picked up by the buildpack).

[2019-07-27 15:40] jtushman commented on #385
yeah that script is too much magic for me -- if I need to do that much tweaking I'd probably just docker this up.  But I am hopeful that we are getting close.

[2019-08-01 19:12] jmorrell commented on #665
I've merged a PR that adds a feature that swaps `node_modules` caching for caching the yarn native cache: https://github.com/heroku/heroku-buildpack-nodejs/pull/691

It's not currently rolled out to anyone, and I would like some feedback from people here if possible. You can opt-in to the feature, by creating a `heroku-buildpack-features` file at the root of  your application with the following co

[2019-08-21 00:41] jwickens commented on #665
Thanks for the fix @jmorrell I'm happy to confirm that the yarn install step takes half the time now.

[2019-08-21 23:31] dpikt commented on #665
I'm running into an issue with build caching that I think is related to this. I've got an app that is running `yarn cache` as the cache script instead of caching `node_modules` like my other apps. I didn't change any configuration for that, so perhaps in the 50% AB test group? Either way, it seems to be breaking caching and yarn runs fully each time the app builds (adds about 2 mins to build time)

[2019-08-21 23:57] jmorrell commented on #665
@dpikt I'm not sure I understand what this means. Could you elaborate or give an example of the config you're using?

[2019-08-22 00:34] dpikt commented on #665
Sure thing! Here's the truncated logs from a fresh review app: https://pastebin.com/raw/mSF7udy3.
As you can see, it's running
[code]
after the build. For other node apps of mine, that step just says
[code]
Could `NPM _CONFIG_PRODUCTION` be the culprit? Let me know if there's other info that could help.

[2019-09-07 13:07] acomito commented on #385
Netlify supports this nicely. Just sharing their UI here to give theheroku team some ideas.

Netlify provides one simple field, "Base Directory" for declaring which folder to attempt to build. In my case I have a mono repo with realy-frontend and realy-backend.

- realycrm
-- realy-frontend
-- realy-backend

I want to build my frontend on netlify. So I have

<img width="941" alt="Screen Shot 2019-

[2019-09-19 01:50] gsunsnackv commented on #545
I just ran into this issue. I wish heroku has the option to rebuild when promote. We have ejected our react app so the solutions here are not working. Except build at run time, which make the start so slow

[2019-09-20 00:07] frederikhors opened #702 "Is there a way to remove (or disable) PATH entries like node, npm, and node_modules/.bin?"
Is there a way to remove (or disable) `PATH` entries like `node`, `npm`, and `node_modules/.bin`?

For a security POV I wanna use this buildpack just for building my assets in a `build` directory.

I don't need anything after the build.

**Is there a way to cleanup the `nodejs` "layer" from the slug?**

[2019-09-26 14:08] jbutz opened #703 "Proxy issues with amazonaws.com"
Due to the changes made in #681 I am experiencing proxy issues. I'm in an enterprise environment where all HTTP and HTTPS traffic must go through the proxy. The buried `NO_PROXY=` cannot be overridden, so I am unable to resolve binaries.

I recommend letting users handle dealing with their proxies on their own. For example, if someone has issues with `amazonaws.com` and their proxy, as appears has

[2019-09-27 11:25] fruitl00p commented on #703
Had this same issue... Reverting to https://github.com/heroku/heroku-buildpack-nodejs#v156 resolved this, but should be considered a workaround

[2019-10-01 22:10] danielleadams commented on #702
@frederikhors Are you using multiple buildpacks? You can remove Node via `rm -rf` from a subsequent buildpack.

[2019-10-10 02:56] LawJolla commented on #385
Following up on @acomito , Netlify again upped their game on monorepos.

https://www.netlify.com/blog/2019/10/09/launching-monorepo-support-for-netlify-sites/

<img width="896" alt="v6_noman-2x" src="https://user-images.githubusercontent.com/17485128/66535550-c8878d00-eace-11e9-89d1-08a8d56bcd2b.png">

It's surprising and disappointing that this isn't more of a Heroku priority.  I hope that change

[2019-10-14 16:08] #703 closed

[2019-10-17 12:12] malko42 commented on #545
You can have a loot at that article https://devcenter.heroku.com/articles/release-phase
You can define a `release` task in your `Procfile` which will be run on release (e.g. build your application)

[2019-10-17 17:41] jmorrell commented on #545
@malko42 please note https://devcenter.heroku.com/articles/release-phase#design-considerations

Release phase should not be used for asset compilation since the assets cannot be persisted to disk

[2019-10-21 15:37] malko42 commented on #545
@jmorrell Oh! Thank you for catching that.
I guess I will just delete my message and ask for a 'build on promote' option :)

[2019-10-28 14:29] jan-osch opened #727 "Getting "Module did not self-register. " when using worker_threads in older heroku apps"
I I am repeatedly running into this issue. I am getting an error like this, and my worker fails to start:

[code]

I am using a Heroku pipeline for my app, and this issue error occurs only on apps that exist for some time (mainly on `staging` and on `production` ); it never happens in the review apps, where the same worker starts without any problem. I guess it might have something to do with `sta

[2019-11-07 08:26] jan-osch commented on #727
For anyone that encounters this problem - make sure to disable both "Enhanced Language Metrics" and "Node Language Metrics" in metrics settings in Heroku. The current implementation of the metrics system in Heroku is incompatible with some `worker_threads` scenarios.

![Screenshot 2019-11-07 at 09 24 40](https://user-images.githubusercontent.com/11651780/68372181-a2dabb80-0140-11ea-8fe0-cca55a6b77

[2019-11-07 17:09] danielleadams commented on #727
Spoke with @jan-osch and we discovered that this was the issue. We will hopefully come up with a solution, but this unfortunately won't be a quick fix.

To ensure the feature is turned off, run `heroku labs -a APP_NAME` and confirm that under `App Features` that the `nodejs-language-metrics` feature is disabled.

[2019-11-07 17:15] danielleadams commented on #727
@jan-osch I opened a new issue (https://github.com/heroku/heroku-nodejs-plugin/issues/13) to keep track of the issue, so I'm going to close this one. Thanks for bringing this to our attention!

[2019-11-07 17:15] #727 closed

[2019-11-07 17:16] danielleadams commented on #702
@frederikhors going to close this due to inactivity. If there's an issue with the buildpack, please feel free to reopen.

[2019-11-07 17:16] #702 closed

[2019-11-20 23:05] bmo opened #728 "Suggestion: Document issues downloading binaries - SSL_CERT_FILE influence"
If the SSL_CERT_FILE is set to an incorrect value, the build will be unable to download the (node, yarn, etc.) binaries. There's no message indicating the binaries can't be downloaded...

[2019-11-22 18:48] danielleadams commented on #385
I know this doesn't make waiting for this feature any better, but just wanted to drop a note that we haven't forgotten about this. I've opened an issue with NPM to ask for an update on what their solution will be, since it's been well over a year since they have stated they will have support soon ([stated here](https://npm.community/t/npm-needs-a-more-robust-story-for-local-multi-module-developmen

[2019-11-22 19:47] atomkirk commented on #385
I've since moved to deploying all my subdirectory apps with heroku docker and its amazing. If this is something you are still following and want something better than `subtree push`, I highly recommend it.

[2019-11-22 20:20] bbugh commented on #385
@atomkirk I've heard mixed experiences about docker with Heroku, do you have any references for how y'all are set up?

We're about to have to deal with this issue and your reply is timely.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-22 20:39] danielleadams commented on #309
Going to close this since Node 12 doesn't require manually specifying available memory anymore. Some of the other flags may still be needed, but we can open another issue if it the issue comes up again.

[2019-11-22 20:39] #309 closed

[2019-11-23 13:11] atomkirk commented on #385
message me at my username at gmail.com and I can explain

[2019-11-24 14:20] Zaniyar commented on #385
When I do what @jmike proposed, the app is deployed and is running. But all my other apps on other subdomains are now replaced by that app.. the apps are still installed when I do ```$dokku apps:list``` I get the list of the apps. Before deploying the way jmike proposed, the other apps were running. Any ideas how to solve this?

[2020-01-07 18:48] danielleadams commented on #546
Hi @cyrilchampier, is this something that you're still having issues with? The short answer here is that the only caching options here are for the node modules/dependencies unfortunately, but there are some modifications we can probably make for fasters test runs on Heroku CI. I'd be happy to look into those.

[2020-01-07 18:52] danielleadams commented on #634
Hi @OliverJAsh, were you able to resolve this and use the patch-package module?

[2020-01-07 19:03] OliverJAsh commented on #634
I think we just resolved to keep dev dependencies (i.e. disable pruning).

Yeah I think so!

[2020-01-08 08:05] cyrilchampier commented on #546
Hi @danielleadams,
To speed up our CI, we moved out of HerokuCI :(
So no more issue for me here!

[2020-01-08 16:35] danielleadams commented on #546
Thanks for the quick response! I am going to go ahead and close the issue then and reopen if we receive more feedback about this.

[2020-01-08 16:35] #546 closed

[2020-01-17 21:33] thiagonsiq opened #736 "Angular 8 Crashing on Heroku Node Buildpack"
I have a starter application using angular 8, no bells and whistles, just ng new app using the new Angular 8 CLI. I then pushed it to Git and created a pipeline using the Heroku node build pack.

The Heroku build succeeds but when running the application using the Heroku link, it fails with the below stack trace. Can anyone help?

2020-01-17T21:26:37.849180+00:00 app[web.1]: <--- JS stacktrace ---

[2020-01-19 16:31] jeanniton-mnr commented on #350
**Issue**

Heroku needs to know what version of Yarn to download for any app that is deployed on our platform. The convention is to specify a version requirement in the engines field of package.json.

[code]
However if a version is specified that has no matching version of Yarn then the build prints a warning and fails.

**Resolution**
Heroku recommends specifying the exact version of Yarn that yo

[2020-01-21 19:17] thiagonsiq commented on #736
Anyone have any thoughts here? Is Angular 8 supported by Heroku at this time?

[2020-01-28 17:55] danielleadams commented on #736
@thiagonsiq Heroku supports Angular - what version of Node are you trying this on?

[2020-01-30 06:36] Jytesh opened #738 "Caching Error"
ll try to explain, first as soon as the message is received a skin js object is built and sent to this functionretrieveskin), an embed(think a loading animation) is sent and that message is stored.Then canvas makes an image for me(which takes some time mind it) using the skin object(different image for each command) so once that image is build, the loading embed is deleted and the new one is sent,

[2020-02-04 22:42] chrissyast commented on #385
Why do you have the server and frontend-app in the postinstall but only the server in the procfile?

[2020-02-06 15:09] danielleadams opened #739 "Yarn 2 does not work"
Can't install Yarn 2 and therefore use the package manager.

[2020-02-06 16:03] danielleadams commented on #385
@chrissyast The `postinstall` script will occur during the build after `npm install` - it's running installs on the front end and back end code.

The Procfile specifies the "start" command for the server. There's only one server per Heroku dyno, and `npm start --prefix server` will start the server. Users host their assets (front end files) a few different ways... maybe via a CDN, or through their

[2020-02-08 17:23] gregory commented on #385
removing the yarn.lock did the trick for me :)

[2020-02-18 18:25] danielleadams commented on #738
@Jytesh This looks like an issue you're having with Heroku platform, and less with the Node buildpack. Have you tried opening a ticket for this issue? It'll help us triage the issue appropriately. You can do that here: https://help.heroku.com/

[2020-02-19 11:45] Jytesh commented on #738
I'm sorry but its a free application so I can't open a ticket.

[2020-02-19 12:28] hnk15 commented on #39
Hi,
I have tried your solution but still i am getting the same error as bellow:

$ git push heroku master
Enumerating objects: 7, done.
Counting objects: 100% (7/7), done.
Delta compression using up to 4 threads
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 352 bytes | 352.00 KiB/s, done.
Total 4 (delta 3), reused 0 (delta 0)
remote: Compressing source files... done.
remote:

[2020-03-11 21:35] danielleadams commented on #174
Documented here: https://devcenter.heroku.com/articles/preview#private-dependencies

[2020-03-11 21:35] #174 closed

[2020-03-15 11:40] usmonster commented on #522
Hello! Any update on this? Maybe it's worth retrying the experiment, at least? Thanks!

[2020-03-17 16:52] OliverJAsh commented on #634
This should already be possible via `YARN_PRODUCTION="false"`, right?

[2020-03-17 17:08] bartocc commented on #739
@danielleadams do you know if some work has started on this feature request?

[2020-03-23 14:35] danielleadams commented on #739
@bartocc yes, the work for this has started.

[2020-03-23 14:37] danielleadams commented on #287
Going to close this since the memory tuning should not be needed any more. If there are other memory issues, please open another issue.

[2020-03-23 14:37] #287 closed

[2020-03-23 14:43] danielleadams commented on #374
Going to close this since there are verbose outputs for both:

NPM: https://docs.npmjs.com/misc/config#loglevel
Yarn 1: https://classic.yarnpkg.com/en/docs/cli/#toc-verbose

[2020-03-23 14:43] #374 closed

[2020-03-23 14:53] JakeChampion commented on #287
Hi @danielleadams,

Is there some more information you could share with us about why using the flags: ` --max_semi_space_size` and `--max_old_space_size` is now not needed?

[2020-03-30 18:50] ckcollab opened #749 "Buildpack failing instantly, suddenly?"
[code]

Getting this instantly on builds now, across multiple apps (don't think error is on my end)

[2020-03-30 18:53] AugustMiller commented on #749
Just came to report the same thing—odd, granted the file still exists in the build pack, at this location!

We're blocked on deployments until this is resolved, although… there's an alternative syntax for specifying a version with a hash: https://devcenter.heroku.com/articles/buildpacks#buildpack-references

I'll post another comment if I can get this working. :v:

[2020-03-30 18:53] billyburgoa commented on #749
I am getting the same messages.
[code]

[2020-03-30 18:54] ozeas commented on #749
Mesma coisa.
[code]

[2020-03-30 18:57] AugustMiller commented on #749
## Temporary Fix to roll back to `v167` release:

[code]

[2020-03-30 19:01] billyburgoa commented on #749
I don't know which version of my app is running in heroku. The mine is still running, though.

[2020-03-30 19:02] danielleadams commented on #749
I rolled back the buildpack, so this should be working again. The buildpack is using v167 by default now.

[2020-03-30 19:02] ozeas commented on #749
it worked for me too.

[2020-03-30 19:04] billyburgoa commented on #749
Things seem to be working fine again. I just deployed the branch and it got compiled without any issues.

[2020-03-30 19:04] danielleadams commented on #749
Going to close this since I rolled back. Please see my previous comment: https://github.com/heroku/heroku-buildpack-nodejs/issues/749#issuecomment-606182794

[2020-03-30 19:04] #749 closed

[2020-03-30 19:07] AugustMiller commented on #749
Thanks for the quick response! 💓

[2020-03-30 19:11] getbizzey commented on #749
Thanks for the quick response!

Stay safe!

[2020-03-31 13:26] stof opened #751 "Unnecessary files in the slug"
Trying to reduce the slug size, I investigated what ends up as part of the 86MB `.heroku/node` folder (as reported by `du -h -d 1 .heroku` in a one-off dyno).
Among this size, we have 6.3MB contributed by `.heroku/node/lib/node_modules/npm/docs`. Including the npm documentation in the slug looks unnecessary to me, and that represents 7% of the (uncompressed) size contributed by the buildpack.

Not

[2020-04-05 02:55] avinashdv commented on #1
Hi, I have deployed my angular app on heroku and I get the similar error. I was not able to set `NODE_MODULES_CACHE=false` as I have deployed my app via github. Any workaround to set the node_modules_cache to false in this case

[2020-04-05 02:59] avinashdv commented on #1
@philss I have deployed my angular app on heroku and I face somthing similar issue and was unable to set `NODE_MODULES_CACHE=false` as I have used github as a medium to deploy. Any other ways that I can set node_modules_cache to false.

[2020-04-14 16:47] danielleadams commented on #751
Hi @stof, thanks for raising this - we download the `node` binaries as is, which include `npm`, and release them to our own S3 buckets. I'm not sure the reasoning for Node having the npm docs there, but it may warrant a discussion/open issue over on Node.

On the flip side, I'd like to remove any unused artifacts that get pulled into slugs regardless, so I'll look at what we can do on the Heroku b

[2020-04-14 16:53] stof commented on #751
Well, for the `docs` folder, which seems to be the source of the website, this seems indeed questionable. The fact that we also have the `scripts` folder containing development tooling makes me wonder whether they ever filtered the content they ship.

The `man` folder is probably used for `npm help` (unless they actually duplicate the content), but that's not a command you will run on heroku.

[2020-04-20 19:02] hems opened #760 "problem installing package from public github repo"
I have been trying to have a public github repo as dependency on package.json and although it works locally as expected it fails on heroku.

examples using a branch:
[code]

example using a commit:
[code]

i also tried tarball and it did not work.. Eventually on my build on heroku i get the error

`
 Module not found: Can't resolve 'simpleddp' in [...]
`

[2020-04-21 18:28] danielleadams opened #762 "Yarn engine version not displayed when using monorepo"
At this line: https://github.com/heroku/heroku-buildpack-nodejs/blob/master/bin/compile#L156

The if statement should have an `|| $yarn_engine` value, so that the logs output which engine value is specified. Similar to here: https://github.com/heroku/heroku-buildpack-nodejs/blob/master/bin/compile#L176

[2020-04-21 21:42] danielleadams commented on #760
Hi @hems, I answered your support ticket, but I'll answer here for visibility too. This should work, but I would use the `git` protocol as suggested in the NPM docs: https://docs.npmjs.com/files/package.json#git-urls-as-dependencies

Regardless of what the issue is, if you're seeing a difference between Heroku and your local machine, my initial guess would be that it is because you have read/write

[2020-04-22 09:56] hems commented on #760
I just used:

[code]

as you suggested and the error I got in the end was:

[code]

which is a less than ideal error message.

If i use the regular

[code]

It works as expected, so surely the problem is the git url.

I don't understand how it would be possible for Heroku to not have access to a public repository on GitHub?

The error I'm seeing is just "Build Failed".

Definitely could do with su

[2020-04-22 12:55] hems commented on #760
Using the tarball address works on my browser, the package will be downloaded.

for instance https://github.com/hems/simpleddp/tarball/patch-2

But if i use that path on my local package.json it fails when using `node 12.4 / npm 6.9` and also on heroku, the build fails as well, eventually i get the error:

`remote: Module not found: Can't resolve 'simpleddp' `

[2020-04-22 13:07] hems commented on #760
Using `"git://github.com/hems/simpleddp.git#patch-2"` as suggested doesn't work locally for me, also doesn't work on Heroku.

Locally what works for me is:

[code]

But pushing that address to Heroku also ends up with "build fails".

[code]

The curious thing is that it actually list the files on Heroku, so it seems it actually can see the files or downloaded the files at some point, but somehow b

[2020-04-22 15:57] hems commented on #760
I actually just used npm instead of yarn to install via `git://` and it worked locally, but then discovered still did not work on Heroku.

[code]

To Heroku i pushed the repo, now with `package.json` and `package-lock.json` as opposed to "package.json" and "yarn.lock", and funny enough Heroku build did not fail, but when I run my project some errors happen, which means something weird during the p

[2020-04-22 16:04] hems commented on #760
Do you think NODE_MODULES_CACHE might be influencing the outcomes here?

I'm trying now some of those steps again but this time with:
[code]

[2020-04-22 16:37] hems commented on #760
Turns out after a clean slate and properly debugging some of my project that

[code]

on the package.json works as expected! thank you

[2020-04-22 16:46] hems commented on #760
Also, there is something funny about "yarn" for me, if i use it to install locally it will generate a yarn.lock and when i deploy to heroku the deploy fails.

If i use npm to install and push a package-lock.json to Heroku then the build succeeds.

[2020-04-22 18:26] danielleadams opened #765 "NPM_CONFIG_PRODUCTION presence causes cache to not work in monorepos for yarn"
If NPM_CONFIG_PRODUCTION is set, then the buildpack falls into an if statement that causes the cache to not be stored properly.

[2020-04-22 20:06] danielleadams commented on #760
@hems do you have a build ID from this output? You can get it from here:

![build-id](https://user-images.githubusercontent.com/6271256/80028465-213ed600-84b3-11ea-9e9d-bc9f8d275d05.png)

I tried running a build both locally and on Heroku with your forked dependency with both https and git protocols, and everything worked, so I'm going to need more information.

From the logs you've pasted, it loo

[2020-04-23 09:57] mutuadavid93 commented on #468
Have done everything even followed heroku's guide but can't resolve my issue.
Here is my log.

[code]

[2020-04-28 13:26] adsa95 commented on #522
Is there any way to manually opt-in (or opt-out) of this experiment? We need to use the same exact build steps on two dynos and we suspect this experiment is the reason why building is failing on one of them with the same commit of code as `npm ci` fails if package.json does not contain a package name, see https://npm.community/t/npm-ci-undefined-failure-when-name-field-missing-from-package-lock-j

[2020-04-28 14:28] danielleadams commented on #736
Going to close due to inactivity.

[2020-04-28 14:28] #736 closed

[2020-04-30 18:45] danielleadams commented on #522
For anyone that would like to opt in or out of using `npm ci`, you can add a file to the root of your application called `heroku-buildpack-features`. To opt in, the file should contain:
[code]

To opt out, the file should contain:
[code]

Here's one of the test fixtures for this: https://github.com/heroku/heroku-buildpack-nodejs/blob/master/test/fixtures/node-10-npm-ci/heroku-buildpack-features

(

[2020-05-03 13:06] sayem314 opened #772 "Unknown error installing "12.16.3" of node"
[code]

[2020-05-04 14:04] danielleadams commented on #772
@sayem314 Did you have successful builds after this? Or do you have a build ID? I've linked how to get it here: https://github.com/heroku/heroku-buildpack-nodejs/issues/760#issuecomment-618011332

[2020-05-04 14:11] danielleadams commented on #738
@Jytesh were you able to find a solution for this issue?

[2020-05-04 14:12] sayem314 commented on #772
No success so far. Even without other versions. Here is a list of all failed builds.

`df73f1bc-0f9b-430a-94b5-cd23137f6032`
`29d43157-4ac8-4fe3-bd92-e63c910c7d05`
`623c2cd2-e048-4c69-ba06-8693c7b18d9b`
`027430fa-dd51-439e-9e95-8502e502adff`
`923554f5-979b-4fec-994f-455489d87971`

[2020-05-04 14:20] stropho commented on #387
@jmike I see it has been a while, but do you remember where the problem was? I'm having the same/similar issue and can't figure it out.
I'm trying to install a package from a local tarball

[2020-05-04 14:44] jmike commented on #387
@stropho I never found what the issue really was.

I suggest you simply use `yarn workspaces` and get done with it.

[2020-05-04 15:00] danielleadams commented on #772
@sayem314 Took a peak, and I think it's this issue: https://github.com/heroku/heroku-buildpack-nodejs#proxy-issues

Does this need to be set for the build?

[2020-05-04 15:40] sayem314 commented on #772
That worked. Thanks @danielleadams

[2020-05-04 15:40] #772 closed

[2020-05-05 15:05] danielleadams commented on #634
@OliverJAsh Sorry for the delay here. Yes, the buildpack will skip pruning with `YARN_PRODUCTION=false`, so that should fix your issue. This isn't ideal since now you aren't able to prune your dependencies.

Would adding a custom Heroku script at the end of the build be helpful? I think something like a `heroku-cleanup` would be helpful. I have been finding use cases where this would be helpful -

[2020-05-05 15:06] #541 closed

[2020-05-05 17:07] OliverJAsh commented on #634
That would be helpful. Another workaround I just thought it would be to run the cleanup in the `Procfile`, immediately before running the app.

[2020-05-06 05:41] stropho commented on #387
well, after an hour or so I felt really stupid. My issue was the "universal" `.gitignore` file. By default it ignored all `.tgz` files, nested `dist/` folders etc. So the file I wanted to install never got to git :open_mouth: :joy:

[2020-05-06 14:02] Jytesh commented on #738
Sadly no, I had to rewrite my entire code and give it a better error handling structure.

[2020-05-06 14:02] #738 closed

[2020-05-09 11:18] paprikati opened #779 "[Feature Request] default to yarn install --ignore-optional or allow user to configure using an env variable"
Lots of modern JS projects have devDependencies that you need in order to build the app (webpack etc.). But they also use big tools like storybook which are not required at buildTime or runTime.

I would like to avoid installing these during my build process (because its slow). One way would be to put them as optionalDependencies in the package.json, and then run yarn install --ignore-optional.

I

[2020-05-11 14:20] danielleadams commented on #779
@paprikati Is it too much to exclude installation of all the `devDependencies`? Or do you just need some of the `devDependencies` in the build? If you set `YARN_PRODUCTION` to `true`, then the buildpack will only install `dependencies`. (Docs: https://devcenter.heroku.com/articles/nodejs-support#only-installing-dependencies)

`optionalDependencies`, as I understand them, are really for packages th

[2020-05-11 14:24] danielleadams commented on #762
Fixed in https://github.com/heroku/heroku-buildpack-nodejs/pull/771

[2020-05-11 14:24] #762 closed

[2020-05-11 14:33] paprikati commented on #779
So the problem I've got is that I need `devDependencies` like webpack, but not stuff like storybook or jest.

Arguably a nicer solution would be a yarn `buildDependencies` section or similar - so I'll open something with them, although not expecting a quick response.

It would be really useful to have some way in heroku of avoiding pulling storybook, jest etc. - would love any other suggestions

[2020-05-11 18:58] danielleadams opened #781 "Explore adding a "heroku-cleanup" script"
I think it would be helpful to create a script that runs at the end of the Node build after writing to the cache and pruning the dependencies of devDependencies.

There have been a handful of recent scenarios that a script where this final script would be helpful. It could be something called `heroku-cleanup`, so that it doesn't overlap with other build scripts.

The script would run here: https:/

[2020-05-12 13:44] OliverJAsh opened #783 "`LOG_CONCURRENCY=true` is not working"
Hi,

As per the guide, I've enabled logging concurrency:

[code]

https://devcenter.heroku.com/articles/node-concurrency#see-it-in-action

However, even after a restart, I am not seeing any of these values being logged.

`WEB_CONCURRENCY` is being set to 11. I am trying to work out why that is, because I have 14 GB of memory and `WEB_MEMORY` is set to `2048`, therefore I would expect `WEB_CONCURRE

[2020-05-12 14:34] OliverJAsh commented on #783
Ah it was because I had another buildpack and Node needs to be the last one, as per https://devcenter.heroku.com/articles/using-multiple-buildpacks-for-an-app#adding-a-buildpack.

[2020-05-12 14:34] #783 closed

[2020-05-15 07:47] romanbyte commented on #521
Is it possible to implement this idea? It's a very necessary opportunity.

[2020-05-23 18:22] C0DK opened #787 "Impossible to handle non root directory for project"
This is a general issue with Heroku buildpacks but i am not sure how to get around it.
We recently switched to a more separated structure; the root directory has 4 folders:
`backend`, `webapp`, `app`, `assets`, and i am able to make it work fine locally but ended up having to use docker to even be able to host it on your services, but now i have the same issue with heroku tests, where i'm not able

[2020-05-26 20:23] #781 closed

[2020-06-03 12:42] Merott commented on #665
@jmorrell any updates on this?

It appears that `cache-native-yarn-cache` has been [rolled out to everyone](https://github.com/heroku/heroku-buildpack-nodejs/commit/1e51050bb9ecbba7572ac2772002c6259062dad8#diff-9f034b63948763d489f944319c2eb3de) although I find the build to be still pretty slow.

[2020-06-03 19:02] danielleadams commented on #787
Hi @C0DK, Is this a duplicate of https://github.com/heroku/heroku-buildpack-nodejs/issues/385? Monorepository support will be in NPM 7, so we're waiting on that release to do work here. (See workspaces under "Coming Attractions" here: https://blog.npmjs.org/post/617484925547986944/npm-v7-series-introduction)

[2020-06-03 19:08] danielleadams commented on #665
@Merott This has been rolled out. If you're seeing that your build is slow - is it specifically at the yarn install/prune steps? Can you give more information? (If it's not related to yarn cache, preferably in a separate Issue or [support ticket](https://help.heroku.com/))

We found that overall builds did get faster, so I'd like to learn more about what you're seeing.

[2020-06-03 19:19] danielleadams commented on #665
This feature has been rolled out 100% of builds: https://github.com/heroku/heroku-buildpack-nodejs/pull/758

If you'd like to manage using yarn caching, you can add a file to the root of your application called `heroku-buildpack-features`.

To opt in, the file should contain:
[code]

To opt out, the file should contain:
[code]

Keeping this issue open for now for anyone to report degraded performa

[2020-06-03 19:24] danielleadams commented on #634
@OliverJAsh We've added a `heroku-cleanup` that runs after pruning and caching: https://devcenter.heroku.com/articles/nodejs-support#heroku-specific-build-steps. Please let me know if this solves your issue.

[2020-06-03 20:26] danielleadams commented on #779
I have been thinking more about this, and I think it's tricky because the idea is that the `devDependencies` vs. `dependencies` should solve this - but now we have build dependencies and test dependencies, which fall under dev dependencies, but create bloat on Heroku builds. Therefore, this does make me think it may be a Heroku thing to figure out.

@paprikati can you provide me more details here?

[2020-06-03 20:48] paprikati commented on #779
If I use devDependencies (rather than putting webpack etc. into `dependencies`), then the overall build time is about 16s slower, which is about 10% of the total time (167s -> 152s) . It could be worse if I had a more complex testing infrastructure (e.g. an integration test harness like cypress).

Confusingly, if I put webpack etc. into `dependencies`, and set `YARN_PRODUCTION=true` then the slug

[2020-06-04 06:50] laguiz commented on #787
Hi,
What about if the backend is not node? Would be interesting to be able to set the folder where to run the build pack. In my case I need to compile an Angular app in 'front' folder and copy to backend public asset folder.

Idea is to stay in Heroku standards to leverage pipelines etc.

[2020-06-04 14:04] danielleadams commented on #787
@laguiz I understand the use case, but what would be the downside of having the `package.json` at the root though?

If you are using a monorepo structure, you will have more options by having the `package.json` at root and treating one or more subdirectories (ie. `frontend`, `ui`, `mobile`, `package-a`, etc) as a workspace, which has benefits for dependency management.

[2020-06-04 15:59] laguiz commented on #787
@danielleadams
Yes that's what I did. Well kind of...

For now I use 4 buildpacks :
1. Node with very basic package.json at root. This basically just make node/npm available for step 2
2. Run simple sh file to build (npm install and ng/build) and copy compiled assets from front/dist to my backend public folder. With sh script I can easly "move" to my front folder to make it "my node workspace".
3.

[2020-06-04 17:56] C0DK commented on #787
We have a mono rep, with `backend` `webapp` and `app` - having the package.json in root would mean that the webapp and app are required to have the same dependencies. This is naturally not the case. Also it is just less clean, in general, to have a package.json outside the scope in which it is relevant IMO. I like having a clean root directory. Unless that is what we could do with workspaces?

[2020-06-04 17:57] C0DK commented on #787
But yes it is basically a duplicate, and should probably be closed.

[2020-06-04 19:51] danielleadams commented on #787
@C0DK workspaces manages dependencies for mono repos. It means you can have different dependencies that are specified in `package.json` files under child directories. Please see here:

- yarn: https://classic.yarnpkg.com/en/docs/workspaces/
- npm plans to release workspaces with v7: https://blog.npmjs.org/post/617484925547986944/npm-v7-series-introduction
- npm RFC for workspaces: https://github.c

[2020-06-04 20:16] danielleadams commented on #787
hey @laguiz, not noob questions at all. workspaces is a concept that the package managers (yarn, pnpm, and now npm) have adopted to handle any monorepo file structure. I'd like to write some documentation on creating monorepos for Heroku apps once NPM 7 has been released (which will handle workspaces). It will take care of you wanting to cache at the subdirectory level.

In the meantime, have you

[2020-06-04 20:21] laguiz commented on #787
@danielleadams Great got it. I think Heroku custom cache will fill my needs 👍 I will give it a try. Thank you for the link.

[2020-06-04 22:04] danielleadams commented on #787
Closing because it's a duplicate! Please see https://github.com/heroku/heroku-buildpack-nodejs/issues/385

[2020-06-04 22:04] #787 closed

[2020-06-05 16:46] danielleadams opened #792 "permission issue when installing angular-cli for the first time"
It seems that installing that angular-cli 9 may run into issues when initially installing and attempting to use the Ivy compiler.

An error may look something like this:
[code]
And break the build.

The current work around is to disable the Heroku build script temporarily, so that a successful deploy is performed and node modules are cached. Then, restore the build script and deploy again.

[2020-06-11 15:19] Khauri commented on #465
My team has also been having this issue as we have a staging dyno that builds our slug before we promote that slug to production. And we didn't want the devDependencies to be included in the slug, so we set `NPM_CONFIG_PRODUCTION`. But because of this our staging dyno is now being run with `NODE_ENV=production`, which is causing problems for us.

For now we've had to use a separate environment var

[2020-06-11 17:30] danielleadams commented on #634
Hi @OliverJAsh, just pinging again. I'd like to close this issue and want to make sure the solution we've provided fits the use case.

[2020-06-11 17:33] OliverJAsh commented on #634
Hi, sorry for missing your message. This is no longer a problem for us since we had to disable pruning of dev dependencies for other reasons, so I can't say whether it helps in our case, but maybe someone else who has faced this issue can help you?

[2020-06-11 21:05] danielleadams commented on #634
No problem - thanks for sharing. Going to go ahead and close this issue then.

[2020-06-11 21:05] #634 closed

[2020-06-23 14:43] ikhromwicaksono-git opened #793 "Error deploying MERN application to Heroku (Front-end deployed successfully, but the back-end didn't)"
I've been struggling with this section for about 10+ hours. I tried doing my research on it and discovering the problem. I tried a few solutions but can't seem to get it to work for me. I have everything set up exactly the way BradTraversy has it, but for some reason, mine isn't deploying. Local development works perfectly fine with both the front and the back end of things.

The problem is that w

[2020-07-02 21:56] llhupp opened #797 "Option to keep existing node_modules on build"
Hey there! I've got a small feature request. We have a pretty extensive build pipeline that runs before our code is sent to heroku. Since that pipeline installs and caches all node_modules itself, I thought it would save some time to zip those into the tar that is deployed to heroku. However, it seems [this line deletes node_modules if they are present.](https://github.com/heroku/heroku-buildpack-

[2020-07-05 15:17] rickard-von-essen opened #800 "detect.sh fails on Permission denied when running in ChromeOS Crostini (Linux)"
Fails with:

[code]
Using the trivial [Express JS Hello World app](https://expressjs.com/en/starter/hello-world.html).

Log output:

[code]

**Version info**

[code]

[code]

**Google Chrome**	83.0.4103.119 (Official Build) (64-bit)

[2020-07-06 05:27] Karan-Gandhi opened #801 "fs.readFile not working when deployed on heroku"
Hello, I recently ran into a problem where I had to read `.jpg` files using `fs.readfile()` and encode in `base64` format. I used the following line of code.
[code]
This works fine when I run it on the local server, but when I deploy my code to `heroku` then some Images are loaded but the others are not being loaded and I am getting a error when I run `heroku log --tail` in my terminal
[code]
At f

[2020-07-06 11:17] rickard-von-essen commented on #800
I have tried this on a macOS computer and there it works perfectly. Checking the permissions on `/cnb/buildpacks/heroku_nodejs-engine/0.4.4/lib` they are correct on macOS but wrong on my PixelBook.

The obvious difference is the storage driver of docker `overlay2` (macOS) vs. `btrfs`.

[2020-07-08 19:20] danielleadams commented on #797
Hi @llhupp! I am in the process of supporting Yarn 2, which does exactly this - it will zip the dependencies so that the build doesn't have to download them. Is this the use case you are solving for (and using node modules instead with some sort of link) or are the modules being zipped a different way? Thanks for your patience here.

[2020-07-08 19:21] danielleadams commented on #793
@ikhromwicaksono-git can you link to the article you are referring to? Is there an error you are seeing? A build ID? I can't really do much with these screenshots. Thanks!

[2020-07-08 19:22] danielleadams commented on #800
Hi @rickard-von-essen I think you want to open an issue here: https://github.com/heroku/nodejs-engine-buildpack. This isn't the Cloud Native Buildpack. Thanks!

[2020-07-08 19:29] danielleadams commented on #801
Hi @Karan-Gandhi - on first glance, does it have to do with the file extension not matching? `.JPG` vs. `.jpg`? Without seeing where `this.link` comes from, it's hard to tell.

My other questions would be:
- Are the errors are random or always at the beginning? Could it be that the haven't been fully extracted from the slug when the script runs?
- Is there zero-width-whitespace that is causing the

[2020-07-08 21:40] rickard-von-essen commented on #800
@danielleadams thanks! It was a bit hard to figure out which repo was what. Moving to that repo.

[2020-07-08 21:40] #800 closed

[2020-07-08 22:29] danielleadams commented on #800
@rickard-von-essen no problem. Sorry for the confusion! I will be sure to create an Issue template so triaging is easier

[2020-07-09 02:19] Karan-Gandhi commented on #801
Hello, I tried changing the extension name from `.JPG` to `.jpg` of the files which are not read but it did not yield any results. I tried logging the link (`this.link`) and it was also not empty. The errors are there from the beginning and it has been the same files that are not read. As mentioned above it works perfectly fine on the local server. Other images that have whitespace are read perfec

[2020-07-09 08:33] siddhantvirus commented on #589
When I am using auto-deployment on Heroku, cd client doesn't seem to work, could someone help me out with that?

[2020-07-09 20:34] danielleadams commented on #797
@llhupp would you be interested in testing with the feature branch that we have for Yarn 2?

[2020-07-10 18:19] llhupp commented on #797
I appreciate the quick communication and feedback! Unfortunately, I don't know if I'd have time to test out yarn 2 since I don't have any projects utilizing it currently. I'm fine with shelving this and revisiting if it is still an issue after the yarn 2 work is done. In the meantime, the slower build times aren't that pressing.

[2020-07-13 23:58] leesmith opened #805 "Installing private npm dependencies...it can't be this hard?"
So I'm following [these instructions](https://devcenter.heroku.com/articles/nodejs-support#private-dependencies) to the letter but still get the following error:

[code]

`heroku config --app my-app` shows me the env variable and its value.

Here's my `.npmrc`:

[code]

What am I doing wrong? Many thanks!

[2020-07-14 17:40] #739 closed

[2020-07-15 20:12] danielleadams commented on #805
@leesmith when you do `herooku config --app my-review-app-name`, is the environment variable set?

[2020-07-15 23:57] jamesarosen commented on #688
We'd love this too. We'd like to use `pnpm` for a few reasons:

1. It's generally faster than `npm` or `yarn`.
2. It has great monorepo workspace support. `yarn` does too, but `npm` does not.
3. It uses less disk space for developers.

Our team is hesitant to switch even our non-Heroku projects over to `pnpm` since Heroku can only do `npm` and `yarn` and we try to keep tooling consistent across pr

[2020-07-16 00:33] leesmith commented on #805
Yes it is.

[2020-07-16 02:39] saru2020 commented on #44
After so many years and still, this issue occurs.
Btw: My fix was to pin to a specific version as mentioned [here](https://elements.heroku.com/buildpacks/robgraeber/heroku-buildpack-nodejs-gulp):
`heroku buildpacks:set https://github.com/heroku/heroku-buildpack-nodejs#v75 -a my-app`

[2020-07-17 12:44] danielleadams commented on #797
@llhupp while this issue hasn't been resolved, I believe your specific use case is solved with Yarn 2 support, so let me know if we can close this.

[2020-07-20 14:37] danielleadams commented on #805
@leesmith can you open a support ticket? It's hard to tell what the issue is since it may be something with your pipeline or review app setup.

[2020-07-20 14:45] leesmith commented on #805
@danielleadams I do not mind at all...thanks so much!

[2020-07-20 15:05] #521 closed

[2020-07-20 16:10] danielleadams commented on #760
@hems has this issue been resolved?

[2020-07-20 16:21] leesmith commented on #805
@danielleadams I figured it out! I had not added the config var to the CI settings. I had added it to the pipeline and review app but not CI. Doh!

Thanks again!

[2020-07-20 17:48] llhupp commented on #797
I'm not familiar with all of the new features of yarn 2, but I don't think it will address this specific issue I'm having with the buildpack. I am sending a zipped folder that contains my entire application directory (with installed node_modules and compiled source) to heroku. All I really need the buildpack to do is run my start command (`yarn start` in my case). However, it deletes and reinstall

[2020-07-20 20:34] danielleadams commented on #793
@ikhromwicaksono-git were you able to figure this out?

[2020-07-20 20:37] danielleadams commented on #801
@Karan-Gandhi it sounds like this may be an issue with the file not being added to the slug properly. Were you able to figure out the issue?

[2020-07-20 20:39] danielleadams commented on #797
Oh! Okay. I was misunderstanding the use case. We can support this. I'll make clarifying comments in your pull request.

[2020-07-20 20:42] danielleadams commented on #751
I can take a look at this. I'll ask if we can remove the `docs` directory.

As for `npm help`, people often run scripts in dyno if they have created a one/off dyno, so we will want to keep that.

[2020-07-20 20:43] danielleadams commented on #665
Finalized in v173: https://github.com/heroku/heroku-buildpack-nodejs/blob/master/CHANGELOG.md#v173-2020-07-16

[2020-07-20 20:43] #665 closed

[2020-07-21 01:36] Karan-Gandhi commented on #801
No I have not yet been able to figure out the issue

[2020-07-21 03:44] hems commented on #760
this was resolved, thank you!

[2020-07-21 03:44] #760 closed

[2020-07-21 04:16] kjaisingh commented on #468
Similar issue! Cannot be solved by any of the provided suggestions.

[2020-07-21 14:49] danielleadams commented on #688
Yarn 2 is supported on Heroku now, and we will be continuing to add support for it.

@timlesallen @jamesarosen Yarn 2 supports monorepos, [is comparably fast to pnpm](https://github.com/pnpm/benchmarks-of-javascript-package-managers/tree/mael/yarn2#benchmarks-of-javascript-package-managers), and also uses less disk space because of the compressed dependencies - would this be a suitable solutions g

[2020-07-21 15:12] jamesarosen commented on #688
One of the other key benefits of pnpm is that it supports fairly sophisticated monorepo commands like `pnpm test --filter ...[origin/main]`, which runs `test` on all packages that have changed since the head of `origin/main`, plus all their dependents. It does look like Yarn 2 has better integration with Lerna, so perhaps `lerna changed` could work for this.

[2020-07-21 23:40] danielleadams commented on #801
Have you tried opening a support ticket? We would be able to gain better insight.

[2020-07-22 13:07] CristianMR opened #809 "Yarn 2 Qualified path resolution failed"
Hi there,

I've been trying to get yarn 2 to work without luck.

Like in [this issue](https://github.com/yarnpkg/berry/issues/1567) I tried to add bcrypt built false into "dependenciesMeta" inside package.json but it continues to being unable to resolve the dependency.

[code]

[2020-07-23 13:48] musaffa opened #810 "Unable to download node 10.22.0"
Here's the build log:

[code]

[2020-07-23 14:19] bartocc commented on #810
Same here with nodejs 12.8.3 (with buildpack `heroku/nodejs-v98` used through `heroku/heroku-buildpack-emberjs`)

[code]

[2020-07-23 16:24] musaffa commented on #810
The current Node buildpack version is v173. But Ember buildpack is stuck at v98. I guess the issue is on heroku-buildpack-ember's side. heroku/heroku-buildpack-emberjs#47

[2020-07-23 17:43] danielleadams commented on #809
Hi @CristianMR - this is expected. We're still in the process of figuring out what running `yarn install` will look like and are aware this affects packages with postinstall scripts. I'm going to mark this as a bug because this is high priority and hoping to have this sorted out soon. Thanks for raising this!

[2020-07-23 17:57] danielleadams commented on #810
Hi @musaffa and @bartocc - I'm going to close this since this is an issue with the Ember buildpack. Thanks for raising!

[2020-07-23 17:57] #810 closed

[2020-07-23 19:54] ohsnapitscolin opened #814 "Builds with Node LTS Version 12.18.3 are failing"
Node's LTS Version was updated to 12.18.3 yesterday, but our Heroku builds are continuously failing on:
[code]

it seems like https://nodejs.org/dist/v12.18.3/node-v12.18.3-linux-x64.tar.gz exists, but I get don't just any output when running:
[code]

Node 12.18.2 seems to be working fine:
[code]

[2020-07-23 20:42] danielleadams commented on #814
Hi @ohsnapitscolin, what version of the buildpack are you using? From the buildpack log, it doesn't look like you're using the latest.

[2020-07-23 20:58] ohsnapitscolin commented on #814
Hey @danielleadams, we're actually using EmberJS, and https://codon-buildpacks.s3.amazonaws.com/buildpacks/heroku/emberjs.tgz (https://github.com/heroku/heroku-buildpack-emberjs) which seems to be built on top of `heroku-buildpack-nodejs`.

[2020-07-23 21:28] ohsnapitscolin commented on #814
Hmmm, as quick follow up looking in more detail at our logs, it looks like we are fetching `v98`. Trying to figure if that's an issue on our end or with the hosted emberjs.tgz buildpack above.
[code]

[2020-07-23 21:53] ohsnapitscolin commented on #814
After a little more investigation, I've filed https://github.com/heroku/heroku-buildpack-emberjs/issues/61, and am going to close this issue on the `heroku-buildpack-nodejs` side. Thanks for the help!

[2020-07-23 21:53] #814 closed

[2020-07-27 17:27] danielleadams commented on #797
Fixed with https://github.com/heroku/heroku-buildpack-nodejs/pull/798

[2020-07-27 17:27] #797 closed

[2020-07-27 17:28] danielleadams commented on #793
Going to close due to inactivity.

[2020-07-27 17:28] #793 closed

[2020-07-28 18:10] #512 closed

[2020-07-29 14:55] emil14 commented on #385
I don't really like the suggested solution. I have a Go app and now I have to add useless `package.json` just to run nodejs in subdirectory. In would be great if we could use `Procfile` or something like that to point to where `package.json` is located

[2020-07-29 15:00] emil14 commented on #385
BTW I'm also think that many people here are actually trying to deploy their build artifacts generated by `grunt` or `webpack`. But we don't keep our generated stuff in git - we have to build it on Heroku or worse - create new deploy-branches and modify `.gitignore` file to commit a crime. Should be an easy way to deploy stuff ignored by git

[2020-08-04 03:39] JingBh opened #823 "How to use Yarn 2 with Zero-Install disabled?"
My project is using Yarn 2, and I didn't commit the packages cache in `.yarn/cache` directory because it will make my Git repository too big.

Now I want to deploy my app on Heroku, but the build process will automatically skip dependencies installation, which is causing failure.

<details>
<summary>This is my build log: (click to show)</summary>

[code]

</details>

What should I do to make the b

[2020-08-04 22:30] danielleadams commented on #823
Hi @JingBh, thanks for opening this issue. We are working on making Yarn 2 better, and this will be available soon. We have an open pull request that will address this: https://github.com/heroku/heroku-buildpack-nodejs/pull/819, and we will need to make a few modifications after this in regards to caching to Heroku.

[2020-08-06 18:03] #809 closed

[2020-08-06 22:10] danielleadams commented on #823
Fixed with https://github.com/heroku/heroku-buildpack-nodejs/pull/819. I'll release the buildpack tomorrow that will reflect these changes.

[2020-08-06 22:10] danielleadams commented on #801
@Karan-Gandhi did you try opening a support ticket?

[2020-08-07 01:36] Karan-Gandhi commented on #801
# No I haven't yet opened a support ticket. I will try opening one! Thank you.

[2020-08-07 16:05] dokmic commented on #823
Hey @danielleadams, I don't think that #819 resolves the issue.
You are using `yarn install --immutable --immutable-cache` to install the artifacts. The problem is that it will always fail when there is no cache, which is always the case when the Zero-Install is disabled.

I think `--immutable --immutable-cache` should be removed from that command.

[2020-08-07 18:09] danielleadams commented on #823
Hi @dokmic, you're right. I closed this one by mistake. Thanks for pointing this out.

[2020-08-08 22:03] kurdkbg opened #825 "R"

[2020-08-10 14:42] danielleadams commented on #825
@kurdkbg Did you have an issue?

[2020-08-11 07:02] masad-frost commented on #779
The prune step for yarn does absolutely nothing from what I can tell

[2020-08-12 01:59] #825 closed

[2020-08-13 07:21] OliverJAsh opened #829 "When restoring cache, apparently directory already exists, but how?"
I have a folder which is _not_ checked into the Git repository. This folder is generated during the build. I have added the folder to my `cacheDirectories`.

When the build runs, I see this:

[code]

I cannot understand how the directory would already exist, if it is not part of the Git repository. Am I missing something?

Relevant code where this is logged: https://github.com/heroku/heroku-buildp

[2020-08-13 07:36] OliverJAsh commented on #829
Ohhh maybe it's because we're using [Travis to deploy to Heroku](https://docs.travis-ci.com/user/deployment/heroku/), and Travis is sending these files to Heroku?

[2020-08-13 10:08] #829 closed

[2020-08-13 21:39] CatchMeIfYouCan4401 opened #831 "[Help] Need help deploying"
I am very knew to Front End and Heroku.
I downloaded https://github.com/nrandecker/particle
After spending a lot of time I understood that deploying it would require both ruby and nodejs buildpack.
Can somebody please guide me with simple steps on how I can deploy it on Heroku?

[2020-08-14 20:53] nedtwigg commented on #579
Me too!  But our code runs in environments besides Heroku servers (namely dev machines).  So unless the buildpack supports .nvmrc, then we are forced to have multiple versions specified in different places, and it's on us to keep them in sync.

[2020-08-25 00:31] jpulec opened #834 "Allow Opting Out of Immutable Flags"
In some cases, a user may not want the `--immutable-cache` or `--immutable` flag to be passed. One example I have is when you have a repo with some workspace packages that you're not passing to Heroku by adding them to your `.slugignore`. In this case, the lock files would change, which means calling `install --immutable` will fail.

Additionally, when `yarn install --immutable` does fail for this

[2020-08-28 02:29] creepinson commented on #688
I would really love to see pnpm as well, I had to change my scripts to use normal npm.. Also, when installing node_modules this would make a difference as well.

[2020-08-28 21:08] LawJolla commented on #385
Heroku losing more ground.  😢

https://vercel.com/blog/monorepos

![Vercel Monorepo](https://pbs.twimg.com/media/EgiT82zXkAAg0oW?format=jpg&name=small)

[2020-09-09 22:47] danielleadams commented on #801
@Karan-Gandhi do you mind if I close this? Just from my testing - I don't think is related to the Node.js buildpack.

[2020-09-10 01:41] Karan-Gandhi commented on #801
Ok thank you for your time

[2020-09-10 01:41] #801 closed

[2020-09-14 21:37] danielleadams commented on #834
https://github.com/heroku/heroku-buildpack-nodejs/pull/836 solves half of this, but we still need a way to call Yarn 2 without `--immutable`. @jpulec how should the buildpack detect that `yarn.lock` should be mutable?

[2020-09-14 21:38] danielleadams commented on #823
@JingBh this should be fixed with https://github.com/heroku/heroku-buildpack-nodejs/pull/836. Can you confirm please?

[2020-09-14 21:39] danielleadams commented on #831
@CatchMeIfYouCan4401 Can you open a support ticket or use the Dev Center Getting Started guide? (https://devcenter.heroku.com/articles/getting-started-with-nodejs)

[2020-09-15 10:43] JingBh commented on #823
@danielleadams Thanks, now the buildpack is working perfectly! :)

[2020-09-15 10:43] #823 closed

[2020-09-16 12:03] StephenCarboni commented on #385
Why not let the official buildpacks accept an environment variable specifying the root directory? What's wrong with the blunt approach? An official reply from Heroku would be nice as to why this issue is difficult or taking so long to fix.

[2020-09-16 14:59] danielleadams commented on #385
The reason we are waiting is because npm 7 will support workspaces (https://github.com/npm/rfcs/blob/latest/accepted/0026-workspaces.md), which is a solution for subdirectories in Node projects. Yarn already has subdirectory support, and npm will in the near future.

If we find that npm workspaces is not a fit for Heroku users, we can reexamine. We need to make this decision knowing how npm worksp

[2020-09-16 16:39] LawJolla commented on #385
@danielleadams  thanks for your reply and attention. But for a quick vent, neither Netlify, Vercel, nor AWS Amplify needed NPM 7 to do an incredible job supporting monorepos.

I’ve been reworking my servers to work with the server less architecture so I can, with a heavy heart, migrate away from Heroku.

[2020-09-16 17:27] danielleadams commented on #385
@LawJolla I hear you and appreciate your support of Heroku. I'm fully aware of what the other cloud providers have done, but unfortunately, that is not the direction we opted to go.

[2020-09-16 22:26] StephenCarboni commented on #385
Huh? What about the other Buildpacks then? Cause this is really an issue that ends up affecting all of them. Perhaps Heroku needs to admit that buildpacks are not suited for this problem and a new approach needs to be found. Maybe some sort of switchboard that lets us map the directories to their runtimes.

[2020-09-17 01:30] danielleadams commented on #385
@StephenCarboni I hear you. You're welcome to open a support ticket to give that feedback, but the topic being discussed on this Issue is only for subdirectories within Node projects, hence the multiple comments of waiting for NPM's version of workspaces to be released.

[2020-09-26 21:47] jpulec commented on #834
I'm wondering if it makes sense to allow disabling this via an environment variable. Something that is off by default, but could be set to allow lockfile discrepencies, i.e. `YARN_IMMUTABLE=false`.

[2020-10-01 11:34] RealOrangeOne opened #846 "Dependency installation doesn't respect `NODE_ENV`"
Perhaps related to #522

I've just hit an interesting bug with how `npm ci` is currently being used. The current setup ignores `NODE_ENV=production`, and explicitly uses `NPM_CONFIG_PRODUCTION` to drive whether `devDependencies` should be installed, which doesn't match how `npm ci` works.

I think the fix for this is to remove the explicit handling of `--production` during install, so it's handled

[2020-10-01 17:16] danielleadams commented on #792
Was able to duplicate and received this error with follow up builds:
[code]

[2020-10-02 10:28] mmmmmrob opened #847 "Unable to build local docker, archive/master.zip missing"
Hi,

For a while now I've been building a local docker image configured like a heroku dyno to host local development. The image starts with Heroku-18:

[code]

Build steps included:

[code]

This downloaded the nodejs buildpack and configured the docker image as if it were a dyno.

I've just gone to rebuild from scratch on a new machine and found the buildpack at `https://github.com/heroku/heroku-

[2020-10-07 22:14] danielleadams commented on #792
This was an npm bug in 6.11.2 (and previous versions) that surfaced as an Angular bug in builds: https://npm.community/t/6-11-2-npm-ci-installs-package-with-wrong-permissions/9720/7.

Fixed here: https://github.com/npm/cli/pull/243

The fix is to update to 6.11.3 (preferably to a more secure later version).

[2020-10-07 22:14] #792 closed

[2020-10-13 12:01] rodmartinezmedina commented on #516
im having the same issue

[2020-10-14 20:12] danielleadams commented on #846
Thanks @RealOrangeOne. I'll take a look at this.

[2020-10-16 02:56] monty-expert opened #850 "Keep"
**Describe the bug**
A clear and concise description of what the bug is. Please include what the expected behavior is, and log output if you have it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Versions (please complete the following information):**
 - Heroku Stack: [e.g. `heroku-20`]
 - Node Version: [e.g. `15.0.0`]

[2020-10-16 02:57] monty-expert opened #851 "Keep"

[2020-10-16 02:57] monty-expert commented on #851
Keep

[2020-10-19 00:48] sudhishkr opened #852 "Free SSL setup on Heroku for a react-app using LetsEncrypt"
https://stackoverflow.com/questions/64419763/free-ssl-setup-on-heroku-for-a-react-app-using-letsencrypt <- relates to this issue.

To start with I really don't want to pay for hobby dyno on heroku. I am well aware of their ACM process. I am trying to be a little careful with spends as I am testing something.

My current setup is as follows:

Namecheap (domain xyz.com) -> xyz.herokuapp.com (with DN

[2020-10-19 19:22] #850 closed

[2020-10-19 19:22] #851 closed

[2020-11-05 12:35] overallduka opened #856 "Error "/usr/bin/jq: Permission denied""
I did have a error today when was deploying using this package in the latest version(v176):

[code]

Then I changed my buildpack url to use v174(https://github.com/heroku/heroku-buildpack-nodejs.git#v174) and it worked fine.

I did not tried v175 because was recently as well.

Just reporting to give a solution to others that might have the same error.

[2020-11-05 13:47] effetmonstre commented on #856
Thanks !
https://github.com/heroku/heroku-buildpack-nodejs.git#v175 worked fine for us ! :)

[2020-11-05 13:59] danielleadams commented on #856
@overallduka @effetmonstre can you use the `heroku/nodejs` buildpack? You can set it with `heroku buildpacks:set heroku/nodejs`.

[2020-11-05 14:00] danielleadams commented on #856
I'll look into this, looks like a bug on master for sure, but it's better to use the latest released buildpack version.

[2020-11-05 14:10] danielleadams commented on #856
@overallduka Can you give more information? I am not getting this bug when I use the master branch of the buildpack (`heroku buildpacks:set https://github.com/heroku/heroku-buildpack-nodejs.git`).

What is happening after this?
[code]

How is `jq` trying to be accessed? We just swapped out jq to use what the stack image is using, but it should download it if its not present too (https://github.com

[2020-11-05 16:26] rafalolszewski94 commented on #856
We're using `https://github.com/heroku/heroku-buildpack-nodejs.git` as main buildpack and it throws the same error.

[2020-11-05 16:38] rauluranga commented on #856
same for me!
yesterday i started seeing this issue
downgraded to **v175** and that worked fine for me.

[code]

[2020-11-05 17:03] overallduka commented on #856
@danielleadams the log I had was pretty much what @rauluranga posted, I don't have much info other than I did tried deploy this morning and had this error.

I tried to create a bash file and execute this command:

[code]

And I had this error `file.sh: line 3: /usr/bin/jq: Operation not permitted`.

Surely is something related to permission.

[2020-11-05 17:24] danielleadams commented on #856
Just a question for anyone that's seeing this issue: is there a reason that you aren't referencing the buildpack through the buildpack registry, `heroku/nodejs`, instead of the GitHub url? That would be the same as using the `latest` released version, and `master` is more of an "edge", although it is usually stable. Unrelated to this bug, but since I have you all here, I'd like to understand. Than

[2020-11-05 19:05] rauluranga commented on #856
in my case is because im using [dokku](http://dokku.viewdocs.io/dokku/) for testing my projects,
when you're using multiple buildpacks you should list them on a `.buildpacks` file.
i got the node-js buildpack url from their [docs](http://dokku.viewdocs.io/dokku~v0.11.0/deployment/methods/buildpacks/), thats why im using the github url.

[2020-11-05 19:23] danielleadams commented on #856
@rauluranga thanks! That helps a lot.

[2020-11-05 21:08] topched commented on #856
For us we are using the buildpack_url in gitlab, so its pointing right to the github as well. Downgrading to v175 worked for us

[2020-11-05 21:36] danielleadams commented on #856
fwiw, you should be able to use `v176`. `master` is not the same as `v176` or any versions. If you specify by URL, you're referencing `master` and not the latest release. I think what I am learning from this is maybe I need a `latest` tag that users using GitHub urls can use that correspond with the latest release. In this case, the latest release is `v176`.

[2020-11-05 21:43] danielleadams commented on #856
Is anyone experiencing this on Heroku? If not, which platform? Which operating system? I am unable to produce this issue on Heroku, so I need steps to reproduce so that I can see what's going on. We are granting executable access to the binary when it's installed (https://github.com/heroku/heroku-buildpack-nodejs/blob/41d6641ecf23582b0ae708f1940ab35c34eb5fdb/lib/json.sh#L5-L6), so I need to be abl

[2020-11-05 22:15] danielleadams commented on #856
@overallduka I hope you don't mind, but I renamed your Issue because it was misleading. The issue is on `master`, not on `v176` (as I explained above).

[2020-11-06 13:18] EyeCode commented on #856
Dunno for heroku, but im using dokku with .buildpacks file to list this buildpack and got the error if i dont put the version number at the end of github url

[2020-11-06 14:08] overallduka commented on #856
Same as @EyeCode, I am using Dokku with .buildpacks file.

[2020-11-09 12:52] edmorley commented on #856
The `/usr/bin` directory is not user-writable unless the compile is run as root. I've added some possible solutions to:
https://github.com/heroku/heroku-buildpack-nodejs/pull/854/files#r519781365

To anyone hitting this issue -- the underlying cause is that your Dokku base images don't have `jq` installed, and whilst the buildpack could choose to download jq as a temporary stop-gap, the better lon

[2020-11-09 16:15] danielleadams commented on #856
A few things to note here:

1. I've created a `latest` tag. Please use this when referencing this buildpack if you want the most up-to-date releases when using the GitHub url.
2. @edmorley is correct, this seems like an issue with the Dokku platform. Heroku stack images provide `jq`, so per https://github.com/heroku/heroku-buildpack-nodejs/pull/854 we removed the dependency from the buildpack. Sin

[2020-11-11 20:16] jesseshieh commented on #856
Would it be possible to wait until herokuish has `jq` added before removing it here? Many users at Gigalixir are running into this issue as we use herokuish.

[2020-11-12 15:47] danielleadams commented on #856
Sure... I'll see how the issue progresses

[2020-11-19 23:22] mladenoff commented on #856
I am not on Dokku, but I have this same issue trying to deploy to Datica.
The same issue in that `/usr/bin` isn't writable. Our image does seem to have `jq` in `/usr/local/bin`.
I don't know if Datica is using Herokuish, but they seem to be herokulike in some way (we are using Heroku buildpacks).
Do I just need to ask Datica to add `jq` into `/user/bin` one way or another?

[2020-11-20 17:05] jesseshieh commented on #856
Sorry to bug you guys, but we're still getting reports from customers saying this buildpack is broken. Is there a way to add jq back in just until herokuish is updated to include jq?

[2020-11-23 05:23] josegonzalez commented on #856
For anyone coming here because they are using either Herokuish or Dokku, I've released a new version of those.

That aside, these buildpacks are - very graciously! - provided by Heroku/Salesforce. As such, here is a bit of food for thought:

- Heroku customers: Ya'll should be all set, the Heroku folks make a best-in-breed platform and work real hard to make sure your use cases are taken care of.

[2020-11-26 20:31] judofyr commented on #847
The branch was renamed from `master` to `main` so you'll have to use https://github.com/heroku/heroku-buildpack-nodejs/archive/main.zip instead.

[2020-11-27 10:01] mmmmmrob commented on #847
@judofyr thank you. I hadn't spotted the branch change.

[2020-11-27 10:01] #847 closed

[2020-11-28 04:39] naiyt commented on #634
Just stumbled on this issue, and I can confirm that the new build steps work great. In the context of `patch-package` I'm now doing this:

[code]

[2020-11-28 16:09] kurdkbg opened #868 "Music"
https://github.com/black-jack735/evobot

[2020-11-28 16:09] kurdkbg commented on #868
..

[2020-11-30 19:45] danielleadams commented on #856
Thanks for the explanation @josegonzalez and your work to get this fixed! Going to close this as there is a resolution now.

[2020-11-30 19:45] #856 closed

[2020-12-09 15:38] danielleadams opened #874 "testing"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other

[2020-12-09 15:39] #874 closed

[2020-12-11 16:59] dzuelke commented on #852
How would you route port 443 traffic to your app without the Heroku router holding your certificates?

It's not possible. SSL is a paid feature.

Regarding pricing for testing, keep in mind that a Hobby dyno already includes SSL, and that's only $5 per month. Pricing is prorated with per-second precision, so if you try something for an hour on a Hobby dyno, it'll cost you $5/30/24. That's less tha

[2020-12-11 16:59] #852 closed

[2020-12-31 14:25] ctrlaltdylan commented on #288
Seems like this is just common sense good practice to fail a build if the dependencies aren't met.

Is there a customization of the Heroku deploy command where we can enable this option?

[2021-01-01 00:44] brandonchinn178 opened #884 "Yarn 2 support without Zero-Install"
**Describe the bug**
Just to be clear, is Yarn 2 supported without zero-install set up (i.e. checking in `.pnp.js`, `.yarn/cache/`, etc.)? The docs are unclear on this point, and Yarn 2 equally supports both with and without zero-install.

My deployment is currently failing in my release step which runs `yarn ts-node -s bin/migrate.ts`
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. G

[2021-01-01 01:08] brandonchinn178 commented on #884
Yes, it seems when my `release` step is run, `.yarn/cache/` doesn't exist.

[2021-01-12 19:50] danielleadams opened #889 "Do not restore cache when using npm ci"
With the current implementation of `npm ci` usage too create the build environment and Heroku slug, the buildpack will restore the cache at the beginning of the build and save the cache at the end of the build.

As recommended by the npm docs (https://docs.npmjs.com/cli/v6/commands/npm-ci#description), there should be no `node_modules` before an `npm ci` run because the command will delete the `no

[2021-01-13 23:00] zcserei commented on #688
+1, I would love to see this as well and I unknowingly assume that the solution laid out by @jmorrell would probably work fine.

[2021-01-19 21:21] danielleadams commented on #884
Hi @brandonchinn178 - Yarn on Heroku is built to support with and without zero-install set up. Is the release step you're talking about the Heroku release step that is post build? Or is this a release script that happens within the build?

[2021-01-19 21:23] #831 closed

[2021-01-19 21:24] danielleadams commented on #688
Thanks for the feedback here - I'll keep this open for now, but it's likely Heroku won't get to implementing this in the near future.

[2021-01-19 21:25] danielleadams commented on #522
This has been fully implemented into buildpack.

[2021-01-19 21:25] #522 closed

[2021-01-21 03:53] brandonchinn178 commented on #884
I'm referring to the `release` step in my `Procfile` (https://devcenter.heroku.com/articles/release-phase). I just tried the following steps again:

1. Remove my custom buildpack
1. Add `heroku/nodejs` as a buildpack
1. Redeploy `master` branch (which worked previously)

Build log shows:
[code]
Release log shows
[code]
If I change my `Procfile` to say something like
[code]
I see in the release log

[2021-01-22 23:06] danielleadams opened #893 "Yarn 2 does not prune dev dependencies"
**Describe the bug**
A clear and concise description of what the bug is. Please include what the expected behavior is, and log output if you have it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Versions (please complete the following information):**
 - Heroku Stack: [e.g. `heroku-20`]
 - Node Version: [e.g. `15.0.0`]

[2021-02-04 23:48] fjorgemota commented on #889
Maybe a good idea instead of just discarding the cache for node_modules would be just adding a `--cache` option to the `npm ci` call passing a directory that the buildpack could use for cache ([like Gitlab CI suggests](https://docs.gitlab.com/ee/ci/caching/#cache-nodejs-dependencies), for instance). So we could have some performance improvement by not doing unnecessary network requests while also

[2021-02-06 19:04] Stephenlaye2 commented on #589
The  "heroku-postbuild": "cd client && NPM_CONFIG_PRODUCTION=false npm install && npm run build" works like charm for me. Thanks.

[2021-02-08 03:53] bencooper222 commented on #579
+1 to reconsidering this. `.nvmrc` is even more standard now.

[2021-02-10 15:46] #893 closed

[2021-02-14 20:00] perkinss commented on #688
Welp, it looks like the latest version of Yarn is causing issues in my build environment.  Heroku upgraded Yarn, so my rails tests were passing locally but failing on Heroku till I upgraded Yarn.  After switching to use PNPM locally the errors are fixed.

So, it would be really great!!! if this could be allowed as soon as possible.

[2021-02-16 21:41] danielleadams commented on #688
@perkinss you can still use the old version of Yarn (`1.x`) or, as you pointed out, npm. Seems like you need to lock your Yarn version: https://devcenter.heroku.com/articles/nodejs-support#specifying-a-yarn-version

[2021-02-16 23:07] perkinss commented on #688
@danielleadams, thanks, good point.  Still would prefer to go to pnpm

[2021-02-18 00:12] sargunv opened #904 "Yarn workspace-tools plugin not being detected"
We're getting the error message `Skipping because the Yarn workspace plugin is not present. Add the plugin to your source code with 'yarn plugin import workspace-tools'.` even though the plugin is actually present in our project:

[code]

This is causing `devDependencies` to not be pruned, getting us really close to the 500mb slug size limit.

Full build log:

[code]

[2021-02-26 22:27] danielleadams commented on #904
Thanks or raising this! I have opened a bug fix for this. It wasn't well tested and unfortunately the test was giving a false positive.

[2021-02-26 22:58] #904 closed

[2021-02-27 05:47] snake575 opened #906 "Support YARN_PRODUCTION=false on Yarn 2 to skip pruning"
Hi, I started having errors on my build since #891 added support for pruning dev dependencies on Yarn 2, it's a great feature but the `YARN_PRODUCTION` flag still isn't supported to skip pruning. On my case setting it to `false` results on the following error:

[code]

[2021-03-02 01:43] danielleadams commented on #906
The PR you're referring to had actually not worked until I merged https://github.com/heroku/heroku-buildpack-nodejs/pull/905 on Friday (2/26). Can you give me more details? Yarn version? Node version? Exactly what day the build started failing? Thanks.

[2021-03-02 02:45] snake575 commented on #906
Sorry, I noticed the build failing on Saturday 2/27 02:59 UTC, using `v183` worked (I haven't tested again since using the main branch).

These were the binaries:

node: `14.16.0`
npm: `6.14.11`
yarn: `1.22.10`
yarn2: `2.4.0`

Runtime environment:
[code]

[2021-03-04 16:04] jasonlimantoro opened #907 "tate file - runninYarn v2 installation error Usage Error: Couldn't find the node_modules sg an install might help (findPackageLocation)"
**Describe the bug**
Using Yarn v2 workspace (**node_modules linker**, not PnP), the build will fail if `heroku-prebuild` is defined in the root `package.json`

**To Reproduce**
Steps to reproduce the behavior:
1. Use Yarn v2 workspace
2. Define a `heroku-prebuild` script in package.json
    Could be as simple as
[code]
3. Sufficient to see the error

**Versions (please complete the following info

[2021-03-20 16:13] JakeMalis opened #908 "Question about monorepos in Yarn 2"
I just read[ this article](https://blog.heroku.com/building-a-monorepo-with-yarn-2) about building a monorepo using Yarn 2 for
Heroku and had a two questions:
1. Our app has two repositories currently, the website and the API.
The website is a React app and the API is an ExpressJS app. When I
create the monorepo, do I have two different apps in my pipeline each
running a different Yarn workspace?

[2021-03-24 19:01] schinery opened #909 "npm ci not installing devDependencies despite NPM_CONFIG_PRODUCTION=false"
**Issue:**

Despite setting `NPM_CONFIG_PRODUCTION=false` it appears that `devDependencies` aren't being installed when the `npm ci` or `npm install` tasks are run.

From the build log below it shows `added 664 packages` were installed, but if I run `npm ci --production="false" --unsafe-perm --userconfig .npmrc` locally (what should be the same command as the buildpack) I get `added 1437 packages`

[2021-03-24 19:27] schinery commented on #909
Ignore this, it does work as expected.

However it is worth noting that I had to change the `engines` setting `"npm": ">=6.14.11"` to `"npm": "6.14.11"`. Not sure what the...  but this resolved things.

[2021-03-24 19:27] #909 closed

[2021-03-25 06:50] bydga commented on #909
2 days ago, npm@7.7.0 was published and contained exactly this [bug](https://github.com/npm/cli/issues/2936): not installing devdeps regardless the --production flag. And 7.7.0 satisfies your engines.npm >=6.14.11... Anyways, npm@7.7.4 is already out - fixing this issue 🙂

[2021-03-30 16:35] JestDotty commented on #498
174 allows you to use private npm repositories

there's a need for git repos with private projects. Would need a way to set github/gitlab SSH configs

[2021-03-31 22:16] joeyfigaro opened #910 "Yarn v2 – post-resolution validation errors"
Yarn install seems to succeed, but sits silently after that for about 3.5 minutes. Then it fails with the following:

`The lockfile would have been modified by this install, which is explicitly forbidden.`

I'm now on a brand new application (I was hoping the issue was that my original app was just too stale) and I can't for the life of me figure out why this validation step is failing. From what

[2021-04-02 15:12] joeyfigaro commented on #910
It looks like a slew of package versions are being modified/changed on install. I don't know how to reproduce this on my machine–using `--immutable` does not produce a modified lockfile for me. Only obvious difference I see is that heroku seems to be ignoring the registry url specified in my `.yarnrc.yml` and is instead opting for the npm registry.

[2021-04-02 17:10] joeyfigaro commented on #910
Just attempted to blow away `yarn.lock`, create a new one via `yarn install` and deploy it. Same results.

[2021-04-05 13:42] LoSunny opened #911 "Unable to install dependency from Github"
**Describe the bug**
Unable to install any dependency from Github instead of NPM.

**To Reproduce**
Steps to reproduce the behavior:
1. Install any dependency from github, e.g.: `npm install uuidjs/uuid`
2. Publish the code to heroku
4. See error
[code]
**Versions (please complete the following information):**
 - Heroku Stack: `heroku-20`
 - Node Version: `14.16.0`
 - NPM or Yarn Version: `NPM 6.1

[2021-04-05 14:40] joeyfigaro commented on #834
Any updates here?